@charset "UTF-8";
html * {
  max-height: 100000000px;
}

html img {
  max-height: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  outline-style: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  /*transform:perspective;*/
}

html, body {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

a img {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a[href^="tel:"], a[href^="mailto:"] {
  white-space: nowrap;
}

input, select, button {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

/* chromes and blink button */
input[type=submit], input[type=text], input[type=email], input[type=tel], input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

pre {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
}

@font-face {
  font-family: "Sharp-Grotesk-DB-Cyr-Medium-20-Regular";
  src: url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-20-Regular/Sharp-Grotesk-DB-Cyr-Medium-20-Regular.woff") format("woff"), url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-20-Regular/Sharp-Grotesk-DB-Cyr-Medium-20-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sharp-Grotesk-DB-Cyr-Medium-22-Regular";
  src: url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-22-Regular/Sharp-Grotesk-DB-Cyr-Medium-22-Regular.woff") format("woff"), url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-22-Regular/Sharp-Grotesk-DB-Cyr-Medium-22-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SF-Compact-Display-Regular";
  src: url("../fonts/SF-Compact-Display-Regular/SF-Compact-Display-Regular.ttf") format("truetype");
}
/*
my-container: 1152px
padding: 16px;

bootstrap - grid
Extra small xs
<576px 100%

Small sm
≥576px 540px

Medium md
≥768px 720px

Large lg
≥992px 960px

Extra large xl
≥1200px 1140px
*/
.blink {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 2s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 2s;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.text-heading-1,
.h1, .uni-text-content h1 {
  font: normal 500 64px/72px Sharp-Grotesk-DB-Cyr-Medium-22-Regular, sans-serif;
  letter-spacing: -0.5px;
}

.text-heading-2,
.h2, .uni-text-content h2 {
  font: normal 500 40px/48px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
}

.text-heading-3,
.h3, .uni-text-content h3 {
  font: normal 500 32px/40px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
}

.text-heading-4,
.h4, .uni-text-content h4 {
  font: normal 500 24px/32px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
}

.text-accent-1, .h5,
.uni-text-content h5 {
  font: normal 500 18px/26px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
}

.text-accent-2, .h6,
.uni-text-content h6 {
  font: normal 500 16px/24px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
}

.text-1, .p1,
.uni-text-content p,
.ul li, .uni-text-content ul li, .ol li, .uni-text-content ol li {
  font: normal 400 18px/26px SF-Compact-Display-Regular, sans-serif;
}

.text-2, .p2 {
  font: normal 400 16px/22px SF-Compact-Display-Regular, sans-serif;
}

@media (max-width: 1199px) {
  .text-heading-1,
.h1, .uni-text-content h1 {
    font: normal 500 46px/52px Sharp-Grotesk-DB-Cyr-Medium-22-Regular, sans-serif;
  }

  .text-heading-2,
.h2, .uni-text-content h2 {
    font: normal 500 32px/38px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  }

  .text-heading-3,
.h3, .uni-text-content h3 {
    font: normal 500 26px/32px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  }

  .text-heading-4,
.h4, .uni-text-content h4 {
    font: normal 500 21px/28px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  }

  .text-accent-1, .h5,
.uni-text-content h5 {
    font: normal 500 17px/24px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  }

  .text-accent-2, .h6,
.uni-text-content h6 {
    font: normal 500 16px/22px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  }

  .text-1, .p1,
.uni-text-content p,
.ul li, .uni-text-content ul li, .ol li, .uni-text-content ol li {
    font: normal 400 17px/24px SF-Compact-Display-Regular, sans-serif;
  }

  .text-2, .p2 {
    font: normal 400 15px/21px SF-Compact-Display-Regular, sans-serif;
  }
}
@media (max-width: 767px) {
  .text-heading-1,
.h1, .uni-text-content h1 {
    font: normal 500 28px/32px Sharp-Grotesk-DB-Cyr-Medium-22-Regular, sans-serif;
  }

  .text-heading-2,
.h2, .uni-text-content h2 {
    font: normal 500 24px/32px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  }

  .text-heading-3,
.h3, .uni-text-content h3 {
    font: normal 500 20px/26px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  }

  .text-heading-4,
.h4, .uni-text-content h4 {
    font: normal 500 18px/24px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  }

  .text-accent-1, .h5,
.uni-text-content h5 {
    font: normal 500 16px/22px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  }

  .text-accent-2, .h6,
.uni-text-content h6 {
    font: normal 500 16px/22px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  }

  .text-1, .p1,
.uni-text-content p,
.ul li, .uni-text-content ul li, .ol li, .uni-text-content ol li {
    font: normal 400 16px/22px SF-Compact-Display-Regular, sans-serif;
  }

  .text-2, .p2 {
    font: normal 400 14px/20px SF-Compact-Display-Regular, sans-serif;
  }
}
@media (max-width: 500px) {
  .text-heading-1,
.h1, .uni-text-content h1 {
    font: normal 500 23px/26px Sharp-Grotesk-DB-Cyr-Medium-22-Regular, sans-serif;
  }
}
.h1, .uni-text-content h1 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.h2, .uni-text-content h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.h3, .uni-text-content h3 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.h4, .uni-text-content h4 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.h5, .uni-text-content h5 {
  margin-top: 24px;
  margin-bottom: 16px;
}

.h6, .uni-text-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
}

.p1, .uni-text-content p {
  margin-top: 24px;
  margin-bottom: 16px;
}

.p2 {
  margin-top: 24px;
  margin-bottom: 16px;
}

.ul, .uni-text-content ul, .ol, .uni-text-content ol {
  margin-top: 24px;
  margin-bottom: 24px;
}

.h1, .uni-text-content h1:last-child,
.h2, .uni-text-content h2:last-child,
.h3, .uni-text-content h3:last-child,
.h4, .uni-text-content h4:last-child,
.h5, .uni-text-content h5:last-child,
.h6, .uni-text-content h6:last-child,
.p1, .uni-text-content p:last-child,
.p2:last-child,
.ul:last-child, .uni-text-content ul:last-child,
.ol:last-child, .uni-text-content ol:last-child {
  margin-bottom: 0;
}

.h1, .uni-text-content h1:first-child,
.h2, .uni-text-content h2:first-child,
.h3, .uni-text-content h3:first-child,
.h4, .uni-text-content h4:first-child,
.h5, .uni-text-content h5:first-child,
.h6, .uni-text-content h6:first-child,
.p1, .uni-text-content p:first-child,
.p2:first-child,
.ul:first-child, .uni-text-content ul:first-child,
.ol:first-child, .uni-text-content ol:first-child {
  margin-top: 0;
}

.ol, .uni-text-content ol {
  counter-reset: ol-counter;
}
.ol li, .ol > li, .uni-text-content ol li, .uni-text-content ol > li {
  display: block;
  position: relative;
  padding-left: 36px;
  counter-increment: ol-counter;
}
.ol li:before, .ol > li:before, .uni-text-content ol li:before, .uni-text-content ol > li:before {
  content: counter(ol-counter);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: 24px;
  height: 24px;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  font-size: inherit;
}
.ol li:nth-child(n+2), .uni-text-content ol li:nth-child(n+2) {
  margin-top: 12px;
}

.ul, .uni-text-content ul, .ol, .uni-text-content ol {
  display: block;
}

.ul li, .ul > li, .uni-text-content ul li, .uni-text-content ul > li {
  display: block;
  position: relative;
  padding-left: 36px;
}
.ul li:before, .ul > li:before, .uni-text-content ul li:before, .uni-text-content ul > li:before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FFF;
}
.ul li:nth-child(n+2), .uni-text-content ul li:nth-child(n+2) {
  margin-top: 12px;
}

.h1, .uni-text-content h1,
.h2, .uni-text-content h2,
.h3, .uni-text-content h3,
.h4, .uni-text-content h4,
.h5, .uni-text-content h5,
.h6, .uni-text-content h6,
.uni-text-content b {
  color: #FFF;
  font-weight: 500;
}

.uni-text-content,
.ul, .ol, .p1, .p2, .article {
  color: #CCCCCC;
}

.uni-text-content a {
  color: #299C5B;
  transition: all 0.15s linear;
}

.uni-text-content a:hover {
  color: #4CC882;
  transition: all 0.15s linear;
}

.uni-text-content > img, .uni-text-content > p > img {
  display: block;
  margin: 32px 0;
  width: auto;
  height: auto;
  max-width: 100%;
}
.uni-text-content > img:last-child, .uni-text-content > p > img:last-child {
  margin-bottom: 0;
}
.uni-text-content > img:first-child, .uni-text-content > p > img:first-child {
  margin-top: 0;
}

.uni-text-content blockquote, .blockquote {
  margin-top: 24px;
  margin-bottom: 24px;
}
.uni-text-content blockquote:last-child, .blockquote:last-child {
  margin-bottom: 0;
}
.uni-text-content blockquote:last-child, .blockquote:last-child {
  margin-top: 0;
}

.uni-text-content blockquote {
  position: relative;
  padding-left: 36px;
}

.uni-text-content blockquote:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/flash-icon.svg) no-repeat 50% 50%/24px auto;
  text-align: left;
}

.blockquote {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.blockquote-icon {
  width: 24px;
  height: auto;
  flex: 0 0 auto;
  margin-right: 12px;
}

.blockquote-icon img, .blockquote-icon svg {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

.blockquote-content {
  flex: 1 1 auto;
  text-align: left;
  color: #CCCCCC;
}

.uni-text-content {
  margin-top: 24px;
  margin-bottom: 24px;
}
.uni-text-content:last-child {
  margin-bottom: 0;
}
.uni-text-content:last-child {
  margin-top: 0;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.main-wrap__content {
  width: 100%;
  flex: 1 1 auto;
}

.main-wrap__edge {
  width: 100%;
  flex: 0 0 auto;
}

.main-img-layout {
  position: absolute;
  -webkit-pointer-events: none;
  pointer-events: none;
  display: block;
}
.main-img-layout > img {
  width: auto;
  height: auto;
  display: block;
  max-width: 100%;
}
.main-img-layout ~ .main-wrap__content, .main-img-layout ~ .main-wrap__edge {
  position: relative;
}

.uni-margin-top {
  margin-top: 124px;
}

.uni-margin-bottom {
  margin-bottom: 124px;
}

.uni-margin-y {
  margin-top: 120px;
  margin-bottom: 124px;
}

.uni-margin-small-top {
  margin-top: 88px;
}

.uni-margin-small-bottom {
  margin-bottom: 88px;
}

.uni-margin-small-y {
  margin-top: 120px;
  margin-bottom: 88px;
}

@media (max-width: 1199px) {
  .uni-margin-top {
    margin-top: 100px;
  }

  .uni-margin-bottom {
    margin-bottom: 100px;
  }

  .uni-margin-y {
    margin-top: 120px;
    margin-bottom: 100px;
  }

  .uni-margin-small-top {
    margin-top: 70px;
  }

  .uni-margin-small-bottom {
    margin-bottom: 70px;
  }

  .uni-margin-small-y {
    margin-top: 120px;
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .uni-margin-top {
    margin-top: 62px;
  }

  .uni-margin-bottom {
    margin-bottom: 62px;
  }

  .uni-margin-y {
    margin-top: 120px;
    margin-bottom: 62px;
  }

  .uni-margin-small-top {
    margin-top: 44px;
  }

  .uni-margin-small-bottom {
    margin-bottom: 44px;
  }

  .uni-margin-small-y {
    margin-top: 120px;
    margin-bottom: 44px;
  }
}
html, body, .main-wrap {
  background: #000000;
}

html, body {
  font-family: SF-Compact-Display-Regular, sans-serif;
  font-size: 16px;
  color: #FFF;
}

.text-gray {
  color: #CCCCCC;
}

.text-nowrap {
  white-space: nowrap;
}

.container {
  width: 100%;
  max-width: 1184px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 1184px;
  }
}
@media (max-width: 1183px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 752px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 572px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}
.short-container {
  width: 100%;
  max-width: 564px;
}

.btn-user {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s linear;
  padding: 0 32px;
  line-height: 64px;
  font-size: 0;
  font-weight: normal;
  color: #FFF;
}
.btn-user .btn-text {
  display: inline-block;
  vertical-align: middle;
  font: normal 500 18px/26px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
}

@media (max-width: 1199px) {
  .btn-user {
    line-height: 58px;
    padding: 0 26px;
  }
  .btn-user .btn-text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .btn-user {
    line-height: 50px;
    padding: 0 20px;
  }
  .btn-user .btn-text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 575px) {
  .btn-user {
    line-height: 44px;
    padding: 0 18px;
  }
  .btn-user .btn-text {
    font-size: 16px;
    line-height: 22px;
  }
}
.btn-user.btn-bright {
  background: #299C5B;
}
.btn-user.btn-bright:hover {
  background: #4CC882;
}
.btn-user.btn-bright:active {
  background: #217C49;
}

.btn-user.btn-dark {
  background: #1F1F1F;
}
.btn-user.btn-dark:hover {
  background: #3D3D3D;
}
.btn-user.btn-dark:active {
  background: #141414;
}

.btn-user.btn-dark-transparent {
  background: rgba(255, 255, 255, 0.12);
  color: #FFF;
}
.btn-user.btn-dark-transparent:hover {
  background: rgba(255, 255, 255, 0.18);
}
.btn-user.btn-dark-transparent:active {
  background: rgba(255, 255, 255, 0.08);
}

*:nth-child(n).fill-color-blue {
  background: #3273A1;
}

*:nth-child(n).fill-color-orange {
  background: #C34B30;
}

*:nth-child(n).fill-color-green {
  background: #419186;
}

.header-block {
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
    align-items: center;
    justify-content: space-between;
  }
}
.head-logo {
  flex: 0 0 auto;
  margin-right: 24px;
  font-size: 0;
  font-weight: normal;
}
.head-logo .logo {
  display: inline-block;
  max-width: 174px;
}
.head-logo .logo img, .head-logo .logo svg {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

@media (max-width: 991px) {
  .head-logo {
    margin-right: 16px;
  }
  .head-logo .logo {
    max-width: 150px;
  }
}
.head-nav {
  flex: 1 1 auto;
}

.nav {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.nav > li {
  flex: 0 0 auto;
  margin-left: 32px;
  padding: 2px 0;
}
.nav > li > a {
  transition: all 0.15s linear;
  color: rgba(255, 255, 255, 0.64);
  cursor: pointer;
  font: 400 16px/22px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
}
.nav > li > a:hover {
  color: rgba(255, 255, 255, 0.85);
}
.nav > li > a.active, .nav > li > a.active:hover {
  color: white;
}

@media (max-width: 991px) {
  .nav > li {
    margin-left: 16px;
  }
}
@media (max-width: 767px) {
  .nav {
    display: block;
    padding: 32px 24px 0;
    height: 100%;
    overflow: auto;
  }

  .nav:after {
    content: "";
    display: block;
    box-sizing: border-box;
    height: 0;
    margin-top: 16px;
  }

  .nav-wrap {
    display: block;
    width: 240px;
    position: fixed;
    box-sizing: content-box;
    top: 0;
    right: 0;
    height: 100%;
    padding-bottom: 80px;
    background: #000;
    z-index: 20;
    transition: opacity 0.15s linear;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  .menu-active .nav-wrap {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  .nav > li {
    margin: 0;
    display: block;
  }

  .nav > li:nth-child(n+2) {
    margin-top: 12px;
  }

  .nav > li:nth-child(n+2) {
    margin-top: 12px;
  }
}
.btn-menu {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #292929;
  display: block;
  position: relative;
  flex: 0 0 auto;
  cursor: pointer;
  transition: all 0.15s linear;
}
.btn-menu:hover {
  background: #404040;
}
.btn-menu > img, .btn-menu > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: auto;
}

.btn-menu-close {
  position: absolute;
  top: 22px;
  right: 240px;
  margin-right: 16px;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s linear 0s, visibility 0.1s linear 0s, color 0.15s linear 0s;
}

.btn-menu-close img, .btn-menu-close svg {
  width: 16px;
}

.btn-menu-open, .btn-menu-close {
  display: none;
  flex: 0 0 auto;
}

@media (max-width: 767px) {
  .menu-active .btn-menu-close {
    transition: opacity 0.15s linear 0.1s, visibility 0.15s linear 0.1s, color 0s linear 0.15s;
    opacity: 1;
    visibility: visible;
  }

  .btn-menu-open, .btn-menu-close {
    display: block;
  }

  body:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: calc(100% + 80px);
    transition: all 0.15s linear;
    box-sizing: content-box;
    padding-bottom: 80px;
  }

  body.menu-active:after {
    opacity: 1;
    visibility: visible;
  }
}
.block-1-wrap {
  position: relative;
  min-height: 760px;
  padding-bottom: 28px;
}

.bg-block-1-wrap {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 1920px;
}

.bg-block-1-wrap:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  background: -moz-linear-gradient(101.26deg, rgba(0, 0, 0, 0.79) 37.31%, rgba(0, 0, 0, 0) 71.1%);
  background: -webkit-linear-gradient(101.26deg, rgba(0, 0, 0, 0.79) 37.31%, rgba(0, 0, 0, 0) 71.1%);
  background: -o-linear-gradient(101.26deg, rgba(0, 0, 0, 0.79) 37.31%, rgba(0, 0, 0, 0) 71.1%);
  background: -ms-linear-gradient(101.26deg, rgba(0, 0, 0, 0.79) 37.31%, rgba(0, 0, 0, 0) 71.1%);
  background: linear-gradient(191.26deg, rgba(0, 0, 0, 0.79) 37.31%, rgba(0, 0, 0, 0) 71.1%);
}

@media (max-width: 1199px) {
  .block-1-wrap {
    min-height: 580px;
  }
}
@media (max-width: 991px) {
  .block-1-wrap {
    min-height: 460px;
  }
}
@media (max-width: 767px) {
  .block-1-wrap {
    min-height: 0;
  }
}
.bg-block1-img {
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .bg-block1-img {
    object-position: 50% 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
  }
}
.bg-block1-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 1;
  overflow: hidden;
  display: block;
}

@media (max-width: 767px) {
  .bg-block1-video {
    display: none;
  }
}
.index-block-1-block {
  margin-top: 130px;
  position: relative;
  z-index: 3;
}

@media (max-width: 1199px) {
  .index-block-1-block {
    margin-top: 40px;
  }
}
.index-block-1 h1, .index-block-1 .h1 {
  color: #FFF;
  max-width: 760px;
}
.index-block-1 h1 > b, .index-block-1 .h1 > b {
  color: #299C5B;
}
.index-block-1 h1 .with-text-carriage:after, .index-block-1 .h1 .with-text-carriage:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  background: #299C5B;
  padding-top: 72px;
  -webkit-transform: translateY(-8%) translateX(0.15em);
  -ms-transform: translateY(-8%) translateX(0.15em);
  transform: translateY(-8%) translateX(0.15em);
}
.index-block-1 h1 .with-text-carriage.text-carriage-blink:after, .index-block-1 .h1 .with-text-carriage.text-carriage-blink:after {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 2s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 2s;
}
.index-block-1 .btn-row-wrap {
  margin-top: 58px;
}

@media (max-width: 1199px) {
  .index-block-1 h1 .with-text-carriage::after,
.index-block-1 h1 .with-text-carriage::after {
    padding-top: 52px;
  }
  .index-block-1 .btn-row-wrap {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .index-block-1 h1 .with-text-carriage::after {
    display: none;
  }
  .index-block-1 .btn-row-wrap {
    margin-top: 40px;
  }
}
@media (max-width: 575px) {
  .index-block-1 .btn-row-wrap {
    margin-top: 32px;
  }
}
@media (max-width: 540px) {
  .index-block-1 .btn-row {
    margin: 0;
    display: block;
  }

  .index-block-1 .btn-row .btn-row__item {
    display: block;
    width: 100%;
  }
  .index-block-1 .btn-row .btn-row__item:nth-child(n) {
    margin: 0;
  }
  .index-block-1 .btn-row .btn-row__item:nth-child(n+2) {
    margin-top: 12px;
  }
}
.btn-row-wrap {
  overflow: hidden;
}

.btn-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: -12px;
}
.btn-row .btn-row__item {
  margin: 12px;
}

.projects-wrap {
  overflow: hidden;
  width: 100%;
}

.projects-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: -12px;
}
.projects-box .grid-item {
  flex: 0 0 auto;
  padding: 12px;
  width: 33.3333333333%;
}

.projects-box__item {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.projects-unit {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: 8px;
  transition: all 0.15s linear;
  padding: 24px 24px;
}

@media (max-width: 1199px) {
  .projects-box {
    margin: -8px;
  }

  .projects-box .grid-item {
    padding: 8px;
  }
}
@media (max-width: 991px) {
  .projects-box .grid-item {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .projects-wrap._box-transform-to-row-mobile {
    width: calc(50vw + 366px);
  }
  .projects-wrap._box-transform-to-row-mobile .projects-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0;
  }
  .projects-wrap._box-transform-to-row-mobile .projects-box > .projects-box__item {
    width: 300px;
    padding: 0;
  }
  .projects-wrap._box-transform-to-row-mobile .projects-box > .projects-box__item:nth-child(n+2) {
    margin-left: 16px;
  }
}
@media (max-width: 767px) {
  .projects-box .grid-item {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .projects-wrap._box-transform-to-row-mobile {
    width: calc(50vw + 286px);
  }
  .projects-wrap._box-transform-to-row-mobile .projects-box > .projects-box__item {
    width: 292px;
  }
}
@media (max-width: 575px) {
  .projects-wrap._box-transform-to-row-mobile {
    width: calc(100vw + 16px);
  }
}
@media (max-width: 360px) {
  .projects-wrap._box-transform-to-row-mobile .projects-box > .projects-box__item {
    width: 270px;
  }
}
@media (max-width: 1199px) {
  .projects-unit {
    padding: 16px 16px;
  }
}
.projects-unit.fill-color {
  cursor: auto;
}
.projects-unit.fill-color .btn-link {
  opacity: 1;
}
.projects-unit.fill-color .btn-link:hover {
  opacity: 0.75;
}

.projects-unit.fill-dark {
  cursor: pointer;
  background: #141414;
}
.projects-unit.fill-dark .btn-link {
  opacity: 0.32;
}
.projects-unit.fill-dark:hover .btn-link {
  opacity: 1;
}
.projects-unit.fill-dark:hover .btn-link:hover {
  opacity: 0.75;
}
.projects-unit.fill-dark:hover {
  background: #292929;
}

.projects-unit__cover {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
}
.projects-unit__cover {
  height: 196px;
}
.projects-unit__cover > img, .projects-unit__cover > svg {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.projects-unit__cover.projects-unit__cover_fill {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  height: 240px;
  width: calc(100% + 48px);
  margin: -24px -24px 0;
}
.projects-unit__cover.projects-unit__cover_fill > img, .projects-unit__cover.projects-unit__cover_fill > svg {
  display: block;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  z-index: 0;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 1199px) {
  .projects-unit__cover.projects-unit__cover_fill {
    margin: -16px -16px 0;
    width: calc(100% + 32px);
    height: 200px;
  }
}
@media (max-width: 767px) {
  .projects-unit__cover.projects-unit__cover_fill {
    height: 224px;
  }
}
.projects-unit-cover-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
}

.projects-unit__content {
  flex: 1 1 auto;
  width: 100%;
}
.projects-unit__content:nth-child(n+2) {
  margin-top: 24px;
}
.projects-unit__content .projects-unit-title {
  margin-bottom: 12px;
}
.projects-unit__content .projects-unit-title:last-child {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .projects-unit__content:nth-child(n+2) {
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  .projects-unit__content .projects-unit-title {
    margin-bottom: 8px;
  }
}
.projects-unit.fill-color .projects-desc {
  opacity: 0.8;
}

.projects-unit__footer {
  flex: 0 0 auto;
  width: 100%;
  margin-top: 32px;
}

@media (max-width: 1199px) {
  .projects-unit__footer {
    margin-top: 28px;
  }
}
@media (max-width: 767px) {
  .projects-unit__footer {
    margin-top: 24px;
  }
}
.btn-link {
  font: normal 500 16px/24px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-right: 24px;
  min-height: 24px;
  transition: all 0.15s linear;
  opacity: 1;
}
.btn-link:hover {
  opacity: 0.75;
}
.btn-link:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: url(../images/arrow-icon.svg) no-repeat 50% 50%/16px 16px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  transition: all 0.15s linear;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.btn-link:hover:after {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
}

.directions .projects-wrap:nth-child(n+2) {
  margin-top: 34px;
}

.directions .subtitle {
  max-width: 564px;
  color: #CCCCCC;
}
.directions .subtitle:nth-child(n+2) {
  margin-top: 16px;
}

.projects-unit__directions .projects-unit__footer:nth-child(n+2) {
  margin-top: 47px;
}

@media (max-width: 1199px) {
  .projects-unit__directions .projects-unit__footer:nth-child(n+2) {
    margin-top: 28px;
  }
}
@media (max-width: 767px) {
  .projects-unit__directions .projects-unit__footer:nth-child(n+2) {
    margin-top: 24px;
  }
}
.live-digits-slider .slick-list {
  width: calc(100% + 24px);
  margin-left: -12px;
}
.live-digits-slider .slick-slide {
  padding: 0 12px;
}

.live-digits-unit .digit-title {
  font: normal 500 64px/72px Sharp-Grotesk-DB-Cyr-Medium-22-Regular, sans-serif;
  letter-spacing: -0.5px;
}
.live-digits-unit .desc {
  color: #666666;
}
.live-digits-unit .desc:nth-child(n+2) {
  margin-top: 8px;
}

@media (max-width: 991px) {
  .live-digits-wrap {
    width: calc(50vw + 366px);
  }

  .live-digits-slider .slick-slide {
    width: 292px;
    padding: 0;
  }
  .live-digits-slider .slick-slide:nth-child(n+2) {
    margin-left: 16px;
  }
  .live-digits-slider .slick-list {
    width: 100%;
    margin: 0;
  }
  .live-digits-slider .digit-title {
    transition: all 0.15s linear;
    color: #666666;
  }
  .live-digits-slider .slick-active .digit-title {
    color: #FFF;
  }
}
@media (max-width: 350px) {
  .live-digits-slider .slick-slide {
    width: 252px;
  }
}
@media (max-width: 767px) {
  .live-digits-wrap {
    width: calc(50vw + 286px);
  }
}
@media (max-width: 575px) {
  .live-digits-wrap {
    width: calc(100vw + 16px);
  }
}
.last-projects .title-with-payload {
  margin-bottom: 35px;
}

.title-with-payload .text-link {
  font: 500 20px/32px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
}

.text-link {
  cursor: pointer;
  color: #299C5B;
  transition: all 0.15s linear;
}
.text-link:hover {
  color: #4CC882;
}

.title-with-payload {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: calc(100% + 14px);
  margin-left: -14px;
}
.title-with-payload._align-items-baseline {
  align-items: baseline;
}
.title-with-payload._align-items-center {
  align-items: center;
}
.title-with-payload._children-mb-4px > * {
  margin-bottom: 4px;
}
.title-with-payload._children-mb-12px > * {
  margin-bottom: 12px;
}
.title-with-payload > .title {
  flex: 1 1 auto;
}
.title-with-payload > .payload {
  flex: 0 0 auto;
}
.title-with-payload > * {
  margin-left: 14px;
}

.quote-unit {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.quote-unit > .quote-unit__content {
  flex: 1 1 auto;
  text-align: right;
  color: #A3A3A3;
}
.quote-unit > .quote-unit__content + .quote-unit__photo {
  margin-left: 16px;
}
.quote-unit > .quote-unit__photo {
  flex: 0 0 auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.quote-unit > .quote-unit__photo img {
  border-radius: 50%;
  object-position: 50% 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}
.quote-unit .author-of-quote:nth-child(n+2) {
  margin-top: 8px;
}
.quote-unit .author-of-quote {
  color: #299C5B;
}

@media (max-width: 991px) {
  .quote-unit > .quote-unit__photo {
    width: 72px;
    height: 72px;
  }
}
.title-with-payload .quote-unit {
  max-width: 480px;
}

@media (max-width: 991px) {
  .title-with-quote {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .title-with-quote > .title {
    width: 100%;
    margin-left: 0;
  }

  .title-with-quote > .payload {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
  }

  .title-with-payload .quote-unit {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .quote-unit > .quote-unit__content + .quote-unit__photo {
    margin-left: 12px;
  }

  .quote-unit > .quote-unit__photo {
    width: 68px;
    height: 68px;
  }
}
.partners-wrap {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1130px;
}

.partners-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: -12px;
}
.partners-box .grid-item {
  flex: 0 0 auto;
  padding: 12px;
  width: 25%;
}

.partners-item {
  font-size: 0;
  font-weight: normal;
  text-align: center;
}

.partners-unit {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  transition: all 0.15s linear;
  opacity: 0.2;
}
.partners-unit:hover {
  opacity: 0.85;
}
.partners-unit img, .partners-unit svg {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-height: 80px;
  max-width: 100%;
}

.footer-block:nth-child(n+2) {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.footer-author, .footer-content {
  color: #CCCCCC;
}
.footer-author a, .footer-content a {
  color: #299C5B;
  transition: all 0.15s linear;
}
.footer-author a:hover, .footer-content a:hover {
  color: #4CC882;
}

.footer-author {
  flex: 0 0 auto;
  width: 294px;
  padding-right: 16px;
}

.footer-content {
  flex: 1 1 auto;
}

.footer-contacts-block {
  max-width: 326px;
}

@media (max-width: 767px) {
  .footer-author {
    padding-right: 12px;
    width: 180px;
  }
}
@media (max-width: 575px) {
  .footer-box {
    display: block;
  }
  .footer-box > *:nth-child(n+2) {
    margin-top: 18px;
  }
  .footer-box .footer-author {
    width: 100%;
    padding: 0;
  }
}
.company-main {
  padding-top: 78px;
}
.company-main .h1 {
  max-width: 858px;
}
.company-main .h1 b {
  color: #299C5B;
}
.company-main .desc {
  color: #CCCCCC;
}
.company-main .desc:nth-child(n+2) {
  margin-top: 24px;
}

@media (max-width: 1199px) {
  .company-main {
    padding-top: 60px;
  }
}
@media (max-width: 991px) {
  .company-main {
    padding-top: 40px;
  }
}
@media (max-width: 575px) {
  .company-main {
    padding-top: 20px;
  }
}
.team > .title {
  margin-bottom: 32px;
}
.team > .title:last-child {
  margin-bottom: 0;
}

.team-wrap {
  width: 100%;
  overflow: hidden;
  max-width: 942px;
}

.team-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: -20px;
}
.team-box .grid-item {
  flex: 0 0 auto;
  padding: 20px;
  width: 50%;
}

.team-unit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.team-unit__content {
  flex: 1 1 auto;
  margin-left: 24px;
  color: #FFF;
  padding-top: 50px;
}
.team-unit__content .desc {
  color: #CCCCCC;
}
.team-unit__content .desc:nth-child(n+2) {
  margin-top: 8px;
}

.team-unit__photo {
  display: block;
  flex: 0 0 auto;
  position: relative;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  overflow: hidden;
}
.team-unit__photo img, .team-unit__photo svg {
  object-position: 50% 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (max-width: 1199px) {
  .team-unit__photo {
    width: 150px;
    height: 150px;
  }

  .team-unit__content {
    padding-top: 15px;
  }
}
@media (max-width: 991px) {
  .team-unit__photo {
    width: 120px;
    height: 120px;
  }

  .team-unit__content {
    padding-top: 10px;
    margin-left: 18px;
  }
}
@media (max-width: 767px) {
  .team-box {
    margin: -10px;
  }
  .team-box .grid-item {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 575px) {
  .team-unit__content {
    padding-top: 5px;
    margin-left: 16px;
  }

  .team-unit__photo {
    width: 90px;
    height: 90px;
  }
}
.geography > .title {
  margin-bottom: 24px;
}
.geography > .title:last-child {
  margin-bottom: 0;
}

.geography > .desc {
  color: #CCCCCC;
}

.achievement > .title {
  margin-bottom: 48px;
}
.achievement > .title:last-child {
  margin-bottom: 0;
}

.achievement-wrap {
  width: 100%;
  overflow: hidden;
}

.achievement-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: -18px;
}
.achievement-box .grid-item {
  flex: 0 0 auto;
  padding: 18px;
  width: 50%;
}

.achievement-unit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.achievement-icon {
  width: 145px;
  position: relative;
  flex: 0 0 auto;
}
.achievement-icon:after {
  content: "";
  padding-top: 95.2%;
  box-sizing: border-box;
  width: 0;
  display: block;
}
.achievement-icon > img, .achievement-icon > svg {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.achievement-content {
  flex: 1 1 auto;
  margin-left: 32px;
  max-width: 324px;
  padding-top: 8px;
}

.achievement-content > .achievement-heading {
  margin-bottom: 8px;
}
.achievement-content > .achievement-heading:last-child {
  margin-bottom: 0;
}

.achievement-desc {
  color: #CCCCCC;
}

@media (max-width: 991px) {
  .achievement-icon {
    width: 100px;
  }

  .achievement-content {
    margin-left: 18px;
  }

  .achievement-heading {
    font-size: 18px;
    line-height: 24px;
  }

  .achievement-desc {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .achievement-content {
    padding-top: 2px;
  }

  .achievement-box {
    margin: -12px;
  }
  .achievement-box .grid-item {
    width: 100%;
    padding: 12px;
  }

  .achievement-icon {
    width: 70px;
  }
}
.main-img-layout-planet {
  position: absolute;
  margin-left: -90px;
  width: 1237px;
  top: -29px;
  left: 50%;
}
.main-img-layout-planet img {
  width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  .main-img-layout-planet {
    display: none;
  }
}
.social-unit {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.15s linear;
  background: rgba(255, 255, 255, 0.12);
  position: relative;
  display: block;
  cursor: pointer;
}
.social-unit:hover {
  background: rgba(255, 255, 255, 0.18);
}
.social-unit svg, .social-unit img {
  display: block;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.social-wrap {
  overflow: hidden;
}

.social-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: -4px -8px;
}
.social-box > .social-item {
  padding: 4px 8px;
  flex: 0 0 auto;
  display: block;
}

.contacts-block {
  margin-top: 20px;
}

.contacts > .title {
  margin-bottom: 34px;
}
.contacts > .title:last-child {
  margin-bottom: 0;
}

.contacts-box {
  max-width: 600px;
}
.contacts-box .contacts-row:nth-child(n+2) {
  margin-top: 24px;
}

.contacts-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.contacts-row__label {
  flex: 0 0 auto;
  color: #CCCCCC;
  width: 196px;
  padding-right: 20px;
}

.contacts-row__value {
  flex: 1 1 auto;
  color: #FFF;
}
.contacts-row__value a {
  color: #299C5B;
  transition: all 0.15s linear;
}
.contacts-row__value a:hover {
  color: #4CC882;
}

.contacts-social-wrap {
  margin-top: 32px;
  padding-left: 196px;
}

@media (max-width: 991px) {
  .contacts-block {
    margin-bottom: 90px;
  }
}
@media (max-width: 575px) {
  .contacts-row {
    display: block;
  }

  .contacts-row__label {
    margin-bottom: 8px;
    padding: 0;
    width: 100%;
  }

  .contacts-row__value {
    padding: 0;
    width: 100%;
  }

  .contacts-social-wrap {
    padding-left: 0;
  }
}
.main-img-layout-map {
  position: absolute;
  width: 1442px;
  top: -159px;
  left: 50%;
  margin-left: -414px;
}
.main-img-layout-map img {
  display: block;
  width: 100%;
  height: auto;
}
.main-img-layout-map .img-xl {
  display: block;
}
.main-img-layout-map .img-md {
  display: none;
}

@media (max-width: 991px) {
  .main-img-layout-map {
    position: absolute;
    width: 900px;
    top: auto;
    bottom: -130px;
    left: 50%;
    margin-left: -450px;
  }
  .main-img-layout-map .img-xl {
    display: none;
  }
  .main-img-layout-map .img-md {
    display: block;
  }
}
@media (max-width: 575px) {
  .main-img-layout-map {
    bottom: -71px;
  }
}
.tags-wrap {
  overflow: hidden;
}

.tags-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -8px;
  list-style: none;
}

.tag-item {
  flex: 0 0 auto;
  max-width: 100%;
  padding: 8px;
  font-size: 0;
  font-weight: normal;
  display: block;
}

.tag-unit {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 22px 12px;
  font: normal 500 16px/22px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  transition: all 0.15s linear;
  color: #FFF;
  background: #1F1F1F;
  border-radius: 4px;
}
.tag-unit:hover {
  background: #292929;
}
.tag-unit.tag-active {
  background: #299C5B;
  -webkit-pointer-events: none;
  pointer-events: none;
}

@media (max-width: 767px) {
  .tags-box {
    margin: -6px;
  }

  .tag-item {
    padding: 6px;
  }

  .tag-unit {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 575px) {
  .tag-unit {
    padding: 8px 20px 10px;
    font-size: 13px;
  }
}
.projects {
  margin-top: 20px;
}

.projects > .title {
  margin-bottom: 32px;
}
.projects > .title:last-child {
  margin-bottom: 0;
}

.projects .tags-wrap {
  margin-bottom: 40px;
}
.projects .tags-wrap:last-child {
  margin-bottom: 0;
}

.btn-load-wrap:nth-child(n+2) {
  margin-top: 32px;
  text-align: center;
}

.btn-load {
  min-width: 368px;
  max-width: 100%;
}

@media (max-width: 575px) {
  .btn-load {
    min-width: 0;
    width: 100%;
  }
}
.page-content-data-box {
  margin-top: 32px;
  margin-bottom: 32px;
}
.page-content-data-box:last-child {
  margin-bottom: 0;
}
.page-content-data-box:first-child {
  margin-top: 0;
}

.page-content-data-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.page-content-data-label {
  color: #299C5B;
  width: 194px;
  padding-right: 16px;
  flex: 0 0 auto;
}

.page-content-data-value {
  color: #CCCCCC;
  flex: 1 1 auto;
}

@media (max-width: 575px) {
  .page-content-data-item {
    display: block;
  }

  .page-content-data-item:nth-child(n+2) {
    margin-top: 12px;
  }

  .page-content-data-label {
    width: 100%;
    padding: 0;
    margin-bottom: 6px;
  }
  .page-content-data-label:last-child {
    margin-bottom: 0;
  }
}
.checkers-block {
  margin-top: 40px;
  margin-bottom: 40px;
}
.checkers-block:last-child {
  margin-bottom: 0;
}
.checkers-block:first-child {
  margin-top: 0;
}

.checkers-block > .title {
  color: #FFF;
  margin-bottom: 16px;
}
.checkers-block > .title:last-child {
  margin-bottom: 0;
}

.checkers-wrap {
  overflow: hidden;
}

.checkers-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -8px;
}

.checkers-item {
  padding: 8px;
  flex: 0 0 auto;
  width: 50%;
}

.checkers-unit {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.checkers-unit__icon {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 2px;
  background: #299C5B;
  margin-right: 12px;
  position: relative;
}
.checkers-unit__icon svg, .checkers-unit__icon img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: auto;
}

.checkers-unit__content {
  flex: 1 1 auto;
  align-self: center;
  color: #CCCCCC;
  position: relative;
  top: -3px;
}

@media (max-width: 575px) {
  .checkers-item {
    width: 100%;
  }
}
.back-link {
  display: block;
  width: 40px;
  position: relative;
}
.back-link img, .back-link svg {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}
.back-link svg * {
  transition: all 0.15s linear;
  fill: #299C5B !important;
}
.back-link:hover svg * {
  transition: all 0.15s linear;
  fill: #4CC882 !important;
}
.back-link:active svg * {
  transition: all 0.15s linear;
  fill: #217C49 !important;
}

.page-content-block .back-link-wrap {
  margin-bottom: 12px;
}
.page-content-block .back-link-wrap:last-child {
  margin-bottom: 0;
}

.page-content .page-content-title {
  margin-bottom: 24px;
  margin-top: 24px;
}
.page-content .page-content-title:last-child {
  margin-bottom: 0;
}
.page-content .page-content-title:first-child {
  margin-top: 0;
}

.page-content-offer-box {
  width: 298px;
}

.offer-box .btn-wrap {
  width: 100%;
}
.offer-box .btn-wrap:nth-child(n+2) {
  margin-top: 32px;
}
.offer-box .btn {
  display: block;
  width: 100%;
}

.page-content.sticky-container {
  position: relative;
}

.page-content-offer-box.sticky-box {
  position: absolute;
  top: 0;
  right: 70px;
}

@media (max-width: 1199px) {
  .page-content-offer-box.sticky-box {
    right: 0;
  }
}
@media (max-width: 991px) {
  .page-content-offer-box.sticky-box {
    position: static;
    margin-top: 40px;
  }
}
@media (max-width: 575px) {
  .page-content-offer-box {
    width: 100%;
    min-width: 0;
    max-width: 100%;
  }
}
.modal-block {
  width: 100%;
  max-width: 592px;
  padding: 56px;
  background: #292929;
  position: absolute;
}
.modal-block .modal-title {
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .modal-block {
    padding: 50px 16px 24px;
  }
}
.input-item {
  display: block;
  width: 100%;
}

.uni-input {
  display: block;
  width: 100%;
  height: 62px;
  border-radius: 6px;
  text-align: left;
  font: normal 500 18px/64px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  padding: 0 30px;
  transition: all 0.15s linear;
  background: #3A3A3A;
  color: #FFF;
  border: 1px solid transparent;
}
.uni-input::-webkit-input-placeholder {
  color: #696969;
}
.uni-input::-moz-placeholder {
  color: #696969;
}
.uni-input:-ms-input-placeholder {
  color: #696969;
}
.uni-input:-moz-placeholder {
  color: #696969;
}
.uni-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.uni-input:focus::-moz-placeholder {
  color: transparent;
}
.uni-input:focus:-ms-input-placeholder {
  color: transparent;
}
.uni-input:focus:-moz-placeholder {
  color: transparent;
}
.uni-input.invalid, .uni-input:invalid {
  border-color: #CC5757;
}

@media (max-width: 767px) {
  .uni-input {
    font-size: 16px;
    padding: 0 16px;
  }
}
.uni-check-block {
  display: table;
  max-width: 100%;
  position: relative;
  padding-left: 28px;
  min-height: 24px;
  cursor: pointer;
}

.uni-check-block input {
  display: none;
}

.uni-check-block .check-block-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 0;
  transition: all 0.15s linear;
}
.uni-check-block .check-block-icon:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.15s linear;
  background: #3A3A3A;
  border: 2px solid #3A3A3A;
  box-sizing: border-box;
}
.uni-check-block .check-block-icon:before:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  background: url(../images/tick-icon.svg) no-repeat 50% 50%/16px 16px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.15s linear;
}

.uni-check-block input:checked ~ .check-block-icon:before {
  background: #299C5B;
  border-color: #299C5B;
}
.uni-check-block input:checked ~ .check-block-icon:after {
  opacity: 1;
}

.uni-check-block input.invalid ~ .check-block-icon:before {
  background: transparent;
  border-color: #FFF;
}
.uni-check-block input.invalid ~ .check-block-icon:after {
  opacity: 0;
}

.uni-check-block .check-block-text {
  font: normal 500 16px/24px Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
  color: #FFF;
}
.uni-check-block input.invalid ~ .check-block-text {
  color: #CC5757;
}

@media (max-width: 767px) {
  .uni-check-block .check-block-text {
    font-size: 14px;
  }
}
.btn-submit:nth-child(n) {
  line-height: 64px;
}

@media (max-width: 575px) {
  .btn-submit {
    width: 100%;
  }
}
.light-modal-outer {
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 37.31%, black 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 37.31%, black 100%);
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0) 37.31%, black 100%);
  background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0) 37.31%, black 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.31%, black 100%);
}

.modal-form .input-item:nth-child(n+2) {
  margin-top: 22px;
}
.modal-form .policy-check-wrap:nth-child(n+2) {
  margin-top: 16px;
}
.modal-form .btn-submit-wrap:nth-child(n+2) {
  margin-top: 40px;
}
.modal-form .btn-submit {
  max-width: 100%;
  display: block;
}

.btn-modal-close {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  transition: all 0.15s linear;
  cursor: pointer;
}
.btn-modal-close:hover {
  opacity: 0.8;
}
.btn-modal-close img, .btn-modal-close svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.btn-modal-close svg * {
  fill: #FFF !important;
}

@media (max-width: 991px) {
  .btn-modal-close {
    top: 20px;
    right: 20px;
  }
}
@media (max-width: 575px) {
  .btn-modal-close {
    top: 16px;
    right: 16px;
  }
}
.modal-success-block {
  position: absolute;
  width: 100%;
  max-width: 520px;
  padding: 16px;
  background-color: #000000;
}

.modal-success-icon {
  display: block;
  width: 80px;
  margin: 0;
}
.modal-success-icon img, .modal-success-icon svg {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

.modal-success-title:nth-child(n+2) {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .modal-success-icon {
    width: 60px;
    height: 60px;
  }

  .modal-success-title:nth-child(n+2) {
    margin-top: 24px;
  }
}
.blur-effect {
  filter: url(../images/svg-blur-filter.svg#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="3");
}

.no-blur-effect {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  filter: none;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="0");
}

.main-wrap {
  transition: filter 0.15s linear;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  filter: none;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="0");
}

.site-blur-effect .main-wrap {
  transition: filter 0.15s linear;
  filter: url(../images/svg-blur-filter.svg#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="3");
}

.timeline-slider {
  width: calc(50vw + 576px);
}

.timeline-slider__slides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.timeline-item {
  color: #3D3D3D;
  flex: 0 0 auto;
  transition: color 0.15s linear;
  cursor: pointer;
  width: 200px;
}
.timeline-item {
  margin-right: 50px;
}
.timeline-item:last-child {
  margin-right: 0;
}
.timeline-item.active {
  color: #FFF;
}

@media (max-width: 1199px) {
  .timeline-item {
    width: 150px;
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .timeline-item {
    width: 90px;
    margin-right: 15px;
  }
}
@media (max-width: 575px) {
  .timeline-item {
    width: 75px;
    margin-right: 15px;
  }
}
.play-icon {
  display: block;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.46);
  transition: all 0.2s linear;
  width: 80px;
}
.play-icon:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 0;
  padding-top: 100%;
  cursor: pointer;
  position: relative;
  transition: all 0.15s linear;
}
.play-icon > img, .play-icon > svg {
  display: block;
  width: 65%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.play-icon:hover {
  background: black;
}

.btn-slider {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  -webkit-pointer-events: auto;
  pointer-events: auto;
  transition: all 0.2s linear;
}
.btn-slider > img, .btn-slider > svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;
}
.btn-slider:hover {
  background: rgba(255, 255, 255, 0.5);
}
.btn-slider.btn-slider-prev > img, .btn-slider.btn-slider-prev > svg {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.btn-slider.disabled {
  visibility: hidden;
  opacity: 0;
  -webkit-pointer-events: none;
  pointer-events: none;
}

.projects-slider-outer {
  position: relative;
  width: calc(50vw + 576px);
}

.projects-slider-outer .btn-slider {
  position: absolute;
  z-index: 10;
  top: 50%;
}
.projects-slider-outer .btn-slider.btn-slider-prev {
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.projects-slider-outer .btn-slider.btn-slider-next {
  left: 1152px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 1260px) {
  .projects-slider-outer .btn-slider {
    display: none;
  }
}
@media (max-width: 1199px) {
  .projects-slider-outer {
    position: relative;
    width: calc(50vw + 496px);
  }
}
@media (max-width: 991px) {
  .projects-slider-outer {
    position: relative;
    width: calc(50vw + 376px);
  }
}
@media (max-width: 767px) {
  .projects-slider-outer {
    position: relative;
    width: calc(50vw + 286px);
  }
}
@media (max-width: 575px) {
  .projects-slider-outer {
    position: relative;
    width: calc(100vw - 16px);
  }
}
.projects-slider:nth-child(n+2) {
  margin-top: 40px;
}

.projects-slider__slides {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.projects-slider__slides .project-box-unit {
  flex: 0 0 auto;
  width: 956px;
}
.projects-slider__slides .project-box-unit:nth-child(n+2) {
  margin-left: 24px;
}

.project-box-unit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
}
.project-box-unit:after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.65);
  transition: all 0.15s linear;
  opacity: 1;
  visibility: visible;
}
.project-box-unit.active:after {
  opacity: 0;
  visibility: hidden;
}
.project-box-unit .project-box-media {
  flex: 0 0 auto;
  width: 560px;
}
.project-box-unit .project-box-content {
  flex: 1 1 auto;
  margin-left: 32px;
}

.project-box-content {
  color: #CCCCCC;
}
.project-box-content .title {
  color: #FFF;
  margin-bottom: 12px;
}
.project-box-content .title:last-child {
  margin-bottom: 0;
}

.project-box-media-main {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.project-box-media-main:before {
  content: "";
  display: block;
  padding-top: 56%;
  box-sizing: border-box;
  width: 0;
}
.project-box-media-main > img, .project-box-media-main > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 0;
}
.project-box-media-main .play-icon {
  display: block;
  position: absolute;
  width: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  -webkit-pointer-events: none;
  pointer-events: none;
}
.project-box-media-main:hover .play-icon {
  background: rgba(0, 0, 0, 0.75);
}

.project-box-media-preview-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0 -9px;
}
.project-box-media-preview-box:nth-child(n+2) {
  margin-top: 24px;
}

.project-box-media-preview-box > .item {
  flex: 0 0 auto;
  width: 25%;
  padding: 0 9px;
}
.project-box-media-preview-box > .item:nth-child(n+5) {
  display: none !important;
}

.project-box-media-preview-unit {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.project-box-media-preview-unit:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 0;
  padding-top: 74%;
}
.project-box-media-preview-unit > img, .project-box-media-preview-unit > SVG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 0;
}
.project-box-media-preview-unit .play-icon {
  position: absolute;
  display: block;
  z-index: 2;
  width: 30%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-pointer-events: none;
  pointer-events: none;
}
.project-box-media-preview-unit:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  border: 2px solid transparent;
  background: rgba(0, 0, 0, 0.65);
  transition: all 0.15s linear;
  position: absolute;
}
.project-box-media-preview-unit.active:after {
  border-color: #299C5B;
  background: rgba(0, 0, 0, 0);
}

.lg-layer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-box-media-disabled-block {
  display: none !important;
}

@media (max-width: 1199px) {
  .projects-slider__slides .project-box-unit {
    width: 840px;
  }

  .project-box-unit .project-box-media {
    width: 460px;
  }

  .project-box-unit .project-box-content {
    margin-left: 16px;
  }

  .project-box-media-preview-box > .item {
    padding: 0 5px;
  }

  .project-box-media-preview-box {
    margin-left: -5px;
    margin-right: -5px;
  }

  .project-box-media-preview-box:nth-child(n+2) {
    margin-top: 16px;
  }

  .project-box-media-main .play-icon {
    width: 60px;
  }
}
@media (max-width: 991px) {
  .projects-slider__slides .project-box-unit {
    width: 740px;
  }

  .project-box-unit .project-box-media {
    width: 380px;
  }

  .projects-slider:nth-child(n+2) {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .projects-slider__slides .project-box-unit {
    width: 450px;
  }

  .project-box-unit {
    display: block;
  }

  .project-box-unit .project-box-media {
    width: 100%;
  }

  .project-box-unit .project-box-content {
    margin-left: 0;
    margin-top: 16px;
  }

  .project-box-content .title {
    margin-bottom: 8px;
  }

  .projects-slider__slides .project-box-unit:nth-child(n+2) {
    margin-left: 16px;
  }
}
@media (max-width: 575px) {
  .projects-slider__slides .project-box-unit {
    width: 380px;
  }

  .projects-slider__slides .project-box-unit:nth-child(n+2) {
    margin-left: 10px;
  }

  .project-box-media-main .play-icon {
    width: 50px;
  }
}
@media (max-width: 460px) {
  .projects-slider__slides .project-box-unit {
    width: 360px;
  }
}
@media (max-width: 400px) {
  .projects-slider__slides .project-box-unit {
    width: 280px;
  }
}
.technology-timeline .tech-timeline:nth-child(n+2) {
  margin-top: 40px;
}

/*# sourceMappingURL=style.css.map */
