@font-face {
  font-family: "Sharp-Grotesk-DB-Cyr-Medium-20-Regular";
  //src: url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-20-Regular/Sharp-Grotesk-DB-Cyr-Medium-20-Regular.eot");
  //src: url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-20-Regular/Sharp-Grotesk-DB-Cyr-Medium-20-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-20-Regular/Sharp-Grotesk-DB-Cyr-Medium-20-Regular.woff") format("woff"),
  url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-20-Regular/Sharp-Grotesk-DB-Cyr-Medium-20-Regular.ttf") format("truetype")
}

@font-face {font-family: "Sharp-Grotesk-DB-Cyr-Medium-22-Regular";
  //src: url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-22-Regular/Sharp-Grotesk-DB-Cyr-Medium-22-Regular.eot");
  //src: url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-22-Regular/Sharp-Grotesk-DB-Cyr-Medium-22-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-22-Regular/Sharp-Grotesk-DB-Cyr-Medium-22-Regular.woff") format("woff"),
  url("../fonts/Sharp-Grotesk-DB-Cyr-Medium-22-Regular/Sharp-Grotesk-DB-Cyr-Medium-22-Regular.ttf") format("truetype")
}

@font-face {font-family: "SF-Compact-Display-Regular";
  src: url("../fonts/SF-Compact-Display-Regular/SF-Compact-Display-Regular.ttf") format("truetype")
}

