@mixin mx-flex() {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  @content;
}

@mixin mx-transform($prop) {
  -webkit-transform: $prop;
  -ms-transform: $prop;
  transform: $prop;
}

@mixin mx-pointer-events($prop) {
  -webkit-pointer-events:$prop;
  pointer-events:$prop;

}
@mixin mx-grid($columns, $pad, $align-items:stretch) {
  & {
    display: flex; flex-direction: row; justify-content: flex-start; align-items: $align-items; flex-wrap: wrap; margin:-$pad;
  }
  & .grid-item {flex:0 0 auto; padding: $pad; width: 100% / $columns;}
}

@mixin mx-all-transition() {
  transition: all .15s linear;
}

@mixin mx-media-breakpoint-down($max-screen-width) {
  @media (max-width: $max-screen-width) {
    @content;
  }
}

@mixin mx-img-fill() {
  object-position: 50% 50%; object-fit: cover; position: absolute; top: 0; left: 0; right: 0;
  bottom: 0; margin: auto; display: block; width: 100%; height: 100%;
}

@mixin mx-img-center() {
  display: block; width: auto; height: auto; max-width: 100%; max-height: 100%; position: absolute;
  top: 0; left: 0; right: 0; bottom: 0; margin: auto;
}

@mixin mx-linear-gradient($deg, $props...) {
  background: -moz-linear-gradient(#{$deg}deg, $props...);
  background: -webkit-linear-gradient(#{$deg}deg, $props...);
  background: -o-linear-gradient(#{$deg}deg, $props...);
  background: -ms-linear-gradient(#{$deg}deg, $props...);
  background: linear-gradient(#{$deg + 90}deg, $props...);
}

@mixin mx-container ($pad, $container) {
  .container {width: 100%; max-width:$container + ($pad * 2); padding-left:$pad; padding-right: $pad; margin: 0 auto; }
  @media (max-width: 1199px) {
    .container {max-width: ($pad * 2) + ($container);}
  }
  @media (max-width: ($pad * 2) + ($container) - 1) {
    .container {max-width: ($pad * 2) + 960px;}
  }
  @media (max-width: 991px) {
    .container {max-width: ($pad * 2) + 720px;}
  }
  @media (max-width: 767px) {
    .container {max-width: ($pad * 2) + 540px;}

  }
  @media (max-width: 575px) {
    .container {max-width: 100%;}
  }
}
