.text-heading-1,
.h1, .uni-text-content h1 {font: normal 500 64px/72px $font-heading-primary; letter-spacing: -0.5px;}
.text-heading-2,
.h2, .uni-text-content h2  {font: normal 500 40px/48px $font-heading-secondary; }
.text-heading-3,
.h3, .uni-text-content h3 {font: normal 500 32px/40px $font-heading-secondary;}
.text-heading-4,
.h4, .uni-text-content h4 {font: normal 500 24px/32px $font-heading-secondary;}

.text-accent-1, .h5,
.uni-text-content h5 {font: normal 500 18px/26px $font-heading-secondary;}
.text-accent-2, .h6,
.uni-text-content h6 {font: normal 500 16px/24px $font-heading-secondary;}

.text-1, .p1,
.uni-text-content p,
.ul li, .uni-text-content ul li, .ol li, .uni-text-content  ol li {font: normal 400 18px/26px $font-text;}
.text-2, .p2 {font: normal 400 16px/22px $font-text;}

@include mx-media-breakpoint-down($screen-lg) {
  .text-heading-1,
  .h1, .uni-text-content h1 {font: normal 500 46px/52px $font-heading-primary}
  .text-heading-2,
  .h2, .uni-text-content h2 {font: normal 500 32px/38px $font-heading-secondary; }
  .text-heading-3,
  .h3, .uni-text-content h3 {font: normal 500 26px/32px $font-heading-secondary;}
  .text-heading-4,
  .h4, .uni-text-content h4 {font: normal 500 21px/28px $font-heading-secondary;}

  .text-accent-1, .h5,
  .uni-text-content h5 {font: normal 500 17px/24px $font-heading-secondary;}
  .text-accent-2, .h6,
  .uni-text-content h6 {font: normal 500 16px/22px $font-heading-secondary;}

  .text-1, .p1,
  .uni-text-content p,
  .ul li, .uni-text-content ul li, .ol li, .uni-text-content  ol li {font: normal 400 17px/24px $font-text;}
  .text-2, .p2 {font: normal 400 15px/21px $font-text;}
}

@include mx-media-breakpoint-down($screen-sm) {
  .text-heading-1,
  .h1, .uni-text-content h1 {font: normal 500 28px/32px $font-heading-primary;}
  .text-heading-2,
  .h2, .uni-text-content h2 {font: normal 500 24px/32px $font-heading-secondary; }
  .text-heading-3,
  .h3, .uni-text-content h3 {font: normal 500 20px/26px $font-heading-secondary;}
  .text-heading-4,
  .h4, .uni-text-content h4 {font: normal 500 18px/24px $font-heading-secondary;}

  .text-accent-1, .h5,
  .uni-text-content h5 {font: normal 500 16px/22px $font-heading-secondary;}
  .text-accent-2, .h6,
  .uni-text-content h6 {font: normal 500 16px/22px $font-heading-secondary;}

  .text-1, .p1,
  .uni-text-content p,
  .ul li, .uni-text-content ul li, .ol li, .uni-text-content  ol li {font: normal 400 16px/22px $font-text;}
  .text-2, .p2 {font: normal 400 14px/20px $font-text;}
}

@include mx-media-breakpoint-down($max-screen-width: 500px) {
  .text-heading-1,
  .h1, .uni-text-content h1 {font: normal 500 23px/26px $font-heading-primary;}
}

.h1, .uni-text-content h1 {margin-top: 32px; margin-bottom: 24px;}
.h2, .uni-text-content h2 {margin-top: 32px; margin-bottom: 24px;}
.h3, .uni-text-content h3 {margin-top: 32px; margin-bottom: 16px;}
.h4, .uni-text-content h4 {margin-top: 32px; margin-bottom: 16px;}
.h5, .uni-text-content h5 {margin-top: 24px; margin-bottom: 16px;}
.h6, .uni-text-content h6 {margin-top: 24px; margin-bottom: 16px;}
.p1, .uni-text-content p {margin-top: 24px; margin-bottom: 16px;}
.p2 {margin-top: 24px; margin-bottom: 16px;}
.ul, .uni-text-content ul, .ol, .uni-text-content  ol {margin-top: 24px; margin-bottom: 24px;}

.h1, .uni-text-content h1:last-child,
.h2, .uni-text-content h2:last-child,
.h3, .uni-text-content h3:last-child,
.h4, .uni-text-content h4:last-child,
.h5, .uni-text-content h5:last-child,
.h6, .uni-text-content h6:last-child,
.p1, .uni-text-content p:last-child,
.p2:last-child,
.ul:last-child, .uni-text-content ul:last-child,
.ol:last-child, .uni-text-content  ol:last-child  {margin-bottom: 0;}

.h1, .uni-text-content h1:first-child,
.h2, .uni-text-content h2:first-child,
.h3, .uni-text-content h3:first-child,
.h4, .uni-text-content h4:first-child,
.h5, .uni-text-content h5:first-child,
.h6, .uni-text-content h6:first-child,
.p1, .uni-text-content p:first-child,
.p2:first-child,
.ul:first-child, .uni-text-content ul:first-child,
.ol:first-child, .uni-text-content  ol:first-child {margin-top: 0;}

.ol, .uni-text-content ol {
  counter-reset: ol-counter;
  li, & > li {display: block; position: relative; padding-left: 36px; counter-increment: ol-counter;}
  li:before, & > li:before {content: counter(ol-counter); display: block; position: absolute; top: 0; left: 0; text-align: left;
    width: 24px; height: 24px; color:$color-white; font-weight: bold; line-height: 24px; font-size: inherit; }
  li:nth-child(n+2) {margin-top: 12px;}
}

.ul, .uni-text-content ul, .ol, .uni-text-content  ol {display: block;}
.ul, .uni-text-content ul {
  li, & > li {display: block; position: relative; padding-left: 36px;}
  li:before,  & > li:before {content: ""; display: block; position: absolute; top: 8px; left: 8px;
    width: 8px; height: 8px; border-radius: 50%; background: #FFF;}
  li:nth-child(n+2) {margin-top: 12px;}
}


.h1, .uni-text-content h1,
.h2, .uni-text-content h2,
.h3, .uni-text-content h3,
.h4, .uni-text-content h4,
.h5, .uni-text-content h5,
.h6, .uni-text-content h6,
.uni-text-content b {color: $color-white; font-weight: 500;}
.uni-text-content,
.ul, .ol, .p1, .p2, .article {color: $color-gray;}

.uni-text-content a {color: $color-btn-bright; @include mx-all-transition;}
.uni-text-content a:hover {color: $color-btn-bright-hover; @include mx-all-transition;}

.uni-text-content > img, .uni-text-content > p > img {
  display: block; margin: 32px 0; width: auto; height: auto; max-width: 100%;
  &:last-child {margin-bottom: 0;}
  &:first-child {margin-top: 0;};
}

.uni-text-content blockquote, .blockquote {
  margin-top: 24px; margin-bottom: 24px;
  &:last-child {margin-bottom: 0;}
  &:last-child {margin-top: 0;}
}

.uni-text-content blockquote {position: relative; padding-left: 36px;}
.uni-text-content blockquote:before {content: ""; display: block; box-sizing: border-box; width: 24px; height: 24px;
  position: absolute; top: 0; left: 0; background: url(../images/flash-icon.svg) no-repeat 50% 50% / 24px auto;
  text-align: left;}

.blockquote {display: flex; flex-direction: row; justify-content: flex-start;
  align-items: flex-start; flex-wrap: nowrap;}
.blockquote-icon {width: 24px; height: auto; flex: 0 0 auto; margin-right: 12px;}
.blockquote-icon img, .blockquote-icon svg {display: block; margin: 0; width: 100%; height: auto;}
.blockquote-content {flex: 1 1 auto; text-align: left; color: $color-gray;}

.uni-text-content {
  margin-top: 24px; margin-bottom: 24px;
  &:last-child {margin-bottom: 0;}
  &:last-child {margin-top: 0;}
}









