$font-heading-primary: Sharp-Grotesk-DB-Cyr-Medium-22-Regular, sans-serif;
$font-heading-secondary: Sharp-Grotesk-DB-Cyr-Medium-20-Regular, sans-serif;
$font-text: SF-Compact-Display-Regular, sans-serif;

$color-white: #FFF;
$color-bright: #299C5B;
$color-dark: #000918;
$color-gray: #CCCCCC;
$color-dark-gray: #666666;

$color-btn-bright: #299C5B;
$color-btn-bright-hover: #4CC882;
$color-btn-bright-active: #217C49;

$color-btn-dark: #1F1F1F;
$color-btn-dark-hover: #3D3D3D;
$color-btn-dark-active: #141414;

$color-btn-disabled: #1A1A1A;
$color-btn-text-disabled: #5A5A5A;

$color-orange: #C34B30;
$color-green: #419186;
$color-blue: #3273A1;

$color-danger: #CC5757;

$screen-xs: 575px;
$screen-sm: 767px;
$screen-md: 991px;
$screen-lg: 1199px;

/*
my-container: 1152px
padding: 16px;

bootstrap - grid
Extra small xs
<576px 100%

Small sm
≥576px 540px

Medium md
≥768px 720px

Large lg
≥992px 960px

Extra large xl
≥1200px 1140px
*/















