@import "reset";
@import "fonts";
@import "variables";
@import "mixins";
@import "animations";
@import "text-content";

.main-wrap {display: flex; flex-direction: column; align-items: flex-start; flex-wrap: nowrap;
  justify-content: flex-start; width: 100%; overflow: hidden; min-height: 100%; position: relative;}
.main-wrap__content {width: 100%; flex: 1 1 auto;}
.main-wrap__edge {width: 100%; flex: 0 0 auto;}

.main-img-layout {
  position: absolute; -webkit-pointer-events:none; pointer-events: none; display: block;
  &  > img {width: auto; height: auto; display: block; max-width: 100%;}
  & ~ .main-wrap__content,
  & ~ .main-wrap__edge {position: relative;}
}

.uni-margin-top {margin-top: 124px;}
.uni-margin-bottom {margin-bottom: 124px;}
.uni-margin-y {margin-top:120px; margin-bottom:124px;}

.uni-margin-small-top {margin-top: 88px;}
.uni-margin-small-bottom {margin-bottom: 88px;}
.uni-margin-small-y {margin-top:120px; margin-bottom:88px;}

@include mx-media-breakpoint-down($screen-lg) {
  .uni-margin-top {margin-top: 100px;}
  .uni-margin-bottom {margin-bottom: 100px;}
  .uni-margin-y {margin-top:120px; margin-bottom:100px;}

  .uni-margin-small-top {margin-top: 70px;}
  .uni-margin-small-bottom {margin-bottom: 70px;}
  .uni-margin-small-y {margin-top:120px; margin-bottom:70px;}
}

@include mx-media-breakpoint-down($screen-sm) {
  .uni-margin-top {margin-top: 62px;}
  .uni-margin-bottom {margin-bottom: 62px;}
  .uni-margin-y {margin-top:120px; margin-bottom:62px;}

  .uni-margin-small-top {margin-top: 44px;}
  .uni-margin-small-bottom {margin-bottom: 44px;}
  .uni-margin-small-y {margin-top:120px; margin-bottom:44px;}
}


html, body, .main-wrap {background: #000000;}
html, body {font-family: $font-text; font-size: 16px; color: $color-white;}
.text-gray {color:$color-gray;}
.text-nowrap {white-space: nowrap;}
@include mx-container($pad:16px, $container: 1152px);
.short-container {width: 100%; max-width: 564px;}


.btn-user {display: inline-block; vertical-align: middle; text-align: center; border-radius:6px; cursor: pointer;
  @include mx-all-transition; padding: 0 32px; line-height: 64px; font-size: 0; font-weight: normal; color:$color-white;
  .btn-text {display: inline-block; vertical-align: middle; font: normal 500 18px/26px $font-heading-secondary;  }
}

@include mx-media-breakpoint-down($screen-lg) {
  .btn-user {
    line-height: 58px; padding: 0 26px;
    .btn-text {font-size: 16px; line-height: 22px;}
  }
}

@include mx-media-breakpoint-down($screen-sm) {
  .btn-user {
    line-height: 50px; padding: 0 20px;
    .btn-text {font-size: 16px; line-height: 22px;}
  }
}

@include mx-media-breakpoint-down($screen-xs) {
  .btn-user {
    line-height: 44px; padding: 0 18px;
    .btn-text {font-size: 16px; line-height: 22px;}
  }
}



.btn-user.btn-bright {
  background: $color-btn-bright;
  &:hover {background: $color-btn-bright-hover;}
  &:active {background: $color-btn-bright-active;}
}

.btn-user.btn-dark {
  background: $color-btn-dark;
  &:hover {background: $color-btn-dark-hover;}
  &:active {background: $color-btn-dark-active;}
}

.btn-user.btn-dark-transparent {
  background: rgba(255,255,255,.12); color:$color-white;
  &:hover {background: rgba(255,255,255,.18);}
  &:active {background: rgba(255,255,255,.08);}
}


*:nth-child(n).fill-color-blue {background: $color-blue; }
*:nth-child(n).fill-color-orange {background: $color-orange; }
*:nth-child(n).fill-color-green{background: $color-green; }


.header-block {position: relative;}
.header {display: flex; flex-direction: row; align-items: flex-start; flex-wrap: nowrap;
  justify-content: flex-start; padding-top: 40px; padding-bottom: 40px;}

@include mx-media-breakpoint-down($screen-sm) {
  .header {padding-top: 22px; padding-bottom: 22px; align-items: center; justify-content: space-between;}
}


.head-logo {
  flex: 0 0 auto; margin-right: 24px; font-size: 0; font-weight: normal;;
  & .logo {display: inline-block; max-width: 174px;  }
  & .logo img,
  & .logo svg {display: block; width: auto; height: auto; max-width: 100%;}
}
@include mx-media-breakpoint-down($screen-md) {
  .head-logo {margin-right: 16px;
    & .logo{ max-width: 150px;}
  }
}

.head-nav {flex: 1 1 auto;}
.nav {
  display: flex; flex: 1 1 auto; flex-wrap: nowrap; justify-content: flex-end; align-items: center;
  & > li { flex:0 0 auto;  margin-left: 32px; padding: 2px 0;}
  & > li > a { @include mx-all-transition; color: rgba(255, 255, 255,.64); cursor: pointer;
    font: 400 16px/22px $font-heading-secondary; }
  & > li > a:hover {color: rgba(255, 255, 255,.85);}
  & > li > a.active,  & > li > a.active:hover {color: rgba(255, 255, 255,1);}
}

@include mx-media-breakpoint-down($screen-md) {
  .nav > li {margin-left: 16px;}
}
@include mx-media-breakpoint-down($screen-sm) {
  .nav {display: block; padding: 32px 24px 0; height: 100%; overflow: auto;}
  .nav:after {content: ""; display: block; box-sizing: border-box; height: 0; margin-top: 16px;}
  .nav-wrap {
    display: block; width: 240px; position: fixed; box-sizing: content-box;
    top: 0; right: 0; height: 100%; padding-bottom: 80px;
    background: #000; z-index: 20; transition: opacity .15s linear; opacity: 0;
    @include mx-transform(translateX(100%));
  }
  .menu-active .nav-wrap {@include mx-transform(translateX(0)); opacity: 1;}
  .nav > li {margin: 0; display: block;}
  .nav > li:nth-child(n+2) {margin-top: 12px;}
  .nav > li:nth-child(n+2) {margin-top: 12px;}
}


.btn-menu {width: 44px; height: 44px; border-radius: 50%; background: #292929; display: block;
 position: relative; flex:0 0 auto; cursor: pointer; @include mx-all-transition;
  &:hover {background: #404040;}
  & > img, & > svg {display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
    width: 24px; height: auto;
  }
}

.btn-menu-close {position: absolute; top: 22px; right: 240px; margin-right: 16px; z-index: 20;
  opacity: 0; visibility: hidden;  transition: opacity .1s linear 0s, visibility .1s linear 0s, color .15s linear 0s;}
.btn-menu-close img, .btn-menu-close svg {width: 16px;}
.btn-menu-open, .btn-menu-close {display: none; flex:0 0 auto}

@include mx-media-breakpoint-down($screen-sm) {
  .menu-active .btn-menu-close {transition: opacity .15s  linear .1s, visibility .15s linear .1s, color 0s linear .15s;
    opacity: 1; visibility: visible; }
  .btn-menu-open, .btn-menu-close {display: block;}

  body:after {content: ""; display: block; position: fixed; top: 0; left: 0; z-index: 10; opacity: 0; visibility: hidden;
    background: rgba(0,0,0,.75); width: 100%; height: calc(100% + 80px); transition: all .15s linear; box-sizing: content-box; padding-bottom: 80px;}
  body.menu-active:after {opacity: 1; visibility: visible;}
}

.block-1-wrap {position: relative; min-height: 760px; padding-bottom: 28px; }
.bg-block-1-wrap {position: absolute; z-index: 0; width: 100%; height: 100%; top: 0; margin: auto; left: 0; right: 0;
  max-width: 1920px;}
.bg-block-1-wrap:after {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  z-index: 2; box-sizing: border-box;
  @include mx-linear-gradient(101.26, rgba(0, 0, 0, 0.79) 37.31%, rgba(0, 0, 0, 0) 71.1%); }

@include mx-media-breakpoint-down($screen-lg) {
  .block-1-wrap {min-height: 580px;}
}
@include mx-media-breakpoint-down($screen-md) {
  .block-1-wrap {min-height: 460px;}
}
@include mx-media-breakpoint-down($screen-sm) {
  .block-1-wrap {min-height: 0;}
}

.bg-block1-img {z-index: 1; display: none; width: 100%; height: 100%;}
@media (max-width: $screen-sm) {
  .bg-block1-img {@include mx-img-fill;}
}

.bg-block1-video {position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover;
  object-position: 50% 50%; z-index: 1; overflow: hidden; display: block;}

@media (max-width: $screen-sm) {
  .bg-block1-video {display: none;}
}

.index-block-1-block {margin-top: 130px; position: relative; z-index: 3;}
@include mx-media-breakpoint-down($screen-lg) {
  .index-block-1-block {margin-top: 40px;}
}


.index-block-1 {
  h1, .h1 {
    color:$color-white; max-width: 760px;

    & > b {color: $color-bright;}
    & .with-text-carriage:after {content: ""; display: inline-block; vertical-align: middle; width: 2px;
      background: $color-bright; padding-top:72px; @include mx-transform(translateY(-8%) translateX(.15em));
    }
    & .with-text-carriage.text-carriage-blink:after {@include mx-animation-bink()}

  }
  .btn-row-wrap {margin-top: 58px;}
}

@include mx-media-breakpoint-down($screen-lg) {
  .index-block-1 {
     h1 .with-text-carriage::after,
     h1 .with-text-carriage::after {padding-top: 52px;}
    .btn-row-wrap {margin-top: 50px;}
  }
}

@include mx-media-breakpoint-down($screen-sm) {
  .index-block-1 {
    h1 .with-text-carriage::after {display: none;}
    .btn-row-wrap {margin-top: 40px;}
  }
}
@include mx-media-breakpoint-down($screen-xs) {
  .index-block-1 {
    .btn-row-wrap {margin-top: 32px;}
  }
}

@include mx-media-breakpoint-down($max-screen-width:540px) {
  .index-block-1  .btn-row  {margin: 0; display: block;}
  .index-block-1  .btn-row .btn-row__item {
    display: block; width: 100%;
    &:nth-child(n) {margin: 0;}
    &:nth-child(n+2) {margin-top: 12px;}
  }
}

.btn-row-wrap {overflow: hidden;}
.btn-row {display: flex; flex-direction: row; align-items: center; flex-wrap: wrap; margin:-12px;
  .btn-row__item {margin:12px;}
}


.projects-wrap {overflow: hidden; width: 100%;}
.projects-box {@include mx-grid($columns: 3, $pad: 12px)}
.projects-box__item {flex: 0 0 auto; @include mx-flex;}
.projects-unit  {
  width: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch;
  flex-wrap: nowrap; border-radius: 8px; @include mx-all-transition;
  padding: 24px 24px ;
}

@include mx-media-breakpoint-down($screen-lg) {
  .projects-box {margin:-8px}
  .projects-box .grid-item {padding: 8px;}
}

@include mx-media-breakpoint-down($screen-md) {
  .projects-box .grid-item {width: 50%;}
}
@include mx-media-breakpoint-down($screen-md) {
  .projects-wrap._box-transform-to-row-mobile {
    width: calc(50vw + 366px);
    .projects-box {
      display: flex; flex-direction: row; justify-content: flex-start;
      align-items: stretch; flex-wrap: nowrap; overflow: auto; margin: 0;
      & > .projects-box__item {width: 300px; padding: 0;}
      & > .projects-box__item:nth-child(n+2) {margin-left: 16px;}
    }
  }
}

@include mx-media-breakpoint-down($screen-sm) {
  .projects-box .grid-item {width: 100%;}
}

@include mx-media-breakpoint-down($screen-sm) {
  .projects-wrap._box-transform-to-row-mobile {
    width: calc(50vw + 286px);
    .projects-box {
      & > .projects-box__item {width: 292px;}
    }
  }
}

@include mx-media-breakpoint-down($screen-xs) {
  .projects-wrap._box-transform-to-row-mobile {
    width: calc(100vw + 16px);
  }
}

@include mx-media-breakpoint-down(360px) {
  .projects-wrap._box-transform-to-row-mobile {
    .projects-box {
      & > .projects-box__item {width: 270px;}
    }
  }
}



@include mx-media-breakpoint-down($screen-lg) {
  .projects-unit {padding: 16px 16px;}
}

.projects-unit.fill-color {
  & {cursor: auto;}
  & .btn-link {opacity: 1;}
  & .btn-link:hover { opacity: .75;}
}
.projects-unit.fill-dark {
  & {cursor: pointer;  background: #141414;}
  & .btn-link {opacity: .32;}
  &:hover .btn-link {opacity: 1;}
  &:hover .btn-link:hover { opacity: .75;}
  &:hover {background: #292929;}
}

.projects-unit__cover {
  width: 100%; flex: 0 0 auto; position: relative;
  & {
    & {height: 196px;}
    & > img,  & > svg {@include mx-img-center;}
  }

  &.projects-unit__cover_fill {
    & {border-radius: 8px 8px 0 0; overflow: hidden; height: 240px; width: calc(100% + 48px); margin: -24px -24px 0;}
    & > img,
    & > svg {display: block; top: 0; left: 0; object-fit: cover; width: 100%; height: 100%;
      object-position: 50% 50%; z-index: 0;  border-radius: 8px 8px 0 0;}
  }
}

@include mx-media-breakpoint-down($screen-lg) {
  .projects-unit__cover.projects-unit__cover_fill {margin: -16px -16px 0; width: calc(100% + 32px); height: 200px; }
}
@include mx-media-breakpoint-down($screen-sm) {
  .projects-unit__cover.projects-unit__cover_fill { height: 224px; }
}


.projects-unit-cover-link {display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0;
  z-index: 3; cursor: pointer;}

.projects-unit__content {
  flex: 1 1 auto; width: 100%;
  &:nth-child(n+2) {margin-top: 24px;}
  .projects-unit-title {
    margin-bottom: 12px;
    &:last-child {margin-bottom: 0;}
  }
}
@include  mx-media-breakpoint-down($screen-lg) {
  .projects-unit__content:nth-child(n+2) {margin-top: 16px;}
}
@include  mx-media-breakpoint-down($screen-sm) {
  .projects-unit__content .projects-unit-title {margin-bottom: 8px;}
}

.projects-unit.fill-color .projects-desc {opacity: .8;}

.projects-unit__footer {flex:0 0 auto; width: 100%; margin-top: 32px;}

@include mx-media-breakpoint-down($screen-lg) {
  .projects-unit__footer {margin-top: 28px;}
}

@include mx-media-breakpoint-down($screen-sm) {
  .projects-unit__footer {margin-top: 24px;}
}

.btn-link {font:normal 500 16px/24px $font-heading-secondary; display: inline-block; vertical-align: middle;
  position: relative; padding-right: 24px; min-height: 24px; @include mx-all-transition; opacity: 1;
  &:hover {opacity: .75;}
  &:after {content: ""; display: block; width: 16px; height: 16px; position: absolute;
    background: url(../images/arrow-icon.svg) no-repeat 50% 50% / 16px 16px; right: 0; top: 0; bottom: 0; margin: auto;
    box-sizing: border-box; @include mx-all-transition; @include mx-transform(translateX(0));}
  &:hover:after {@include mx-transform(translateX(20%));}
}

.directions .projects-wrap:nth-child(n+2) {margin-top: 34px;}
.directions .subtitle {
  max-width: 564px; color: $color-gray;
  &:nth-child(n+2) {margin-top: 16px;}
}
.projects-unit__directions .projects-unit__footer:nth-child(n+2) {margin-top: 47px;}
@include mx-media-breakpoint-down($screen-lg) {
  .projects-unit__directions .projects-unit__footer:nth-child(n+2) {margin-top: 28px;}
}

@include mx-media-breakpoint-down($screen-sm) {
  .projects-unit__directions .projects-unit__footer:nth-child(n+2) {margin-top: 24px;}
}


.live-digits-slider {
  .slick-list {width: calc(100% + 24px); margin-left: -12px;}
  .slick-slide  {padding: 0 12px;}
}
.live-digits-unit {
  .digit-title {font: normal 500 64px/72px Sharp-Grotesk-DB-Cyr-Medium-22-Regular, sans-serif; letter-spacing: -0.5px;}
  .desc {color: $color-dark-gray;}
  .desc:nth-child(n+2) {margin-top: 8px;}
}

@include mx-media-breakpoint-down($screen-md) {
  .live-digits-wrap {
    width: calc(50vw + 366px);
  }
  .live-digits-slider {
    .slick-slide {width: 292px; padding: 0;}
    .slick-slide:nth-child(n+2) {margin-left: 16px;}
    .slick-list {width: 100%; margin: 0;}
    .digit-title {@include mx-all-transition; color: $color-dark-gray; }
    .slick-active  .digit-title {color: $color-white;}
  }
}

@include mx-media-breakpoint-down(350px) {
  .live-digits-slider .slick-slide {width: 252px;}
}

@include mx-media-breakpoint-down($screen-sm) {
  .live-digits-wrap {
    width: calc(50vw + 286px);
  }
}

@include mx-media-breakpoint-down($screen-xs) {
  .live-digits-wrap {
    width: calc(100vw + 16px);
  }
}



.last-projects  .title-with-payload {margin-bottom: 35px;}
.title-with-payload .text-link {font:500 20px/32px $font-heading-secondary; }

.text-link {
  cursor: pointer; color: $color-btn-bright; @include mx-all-transition;
  &:hover {color: $color-btn-bright-hover;}
}

.title-with-payload {
  display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: wrap; align-items: flex-start; width:  calc(100% + 14px); margin-left: -14px;
  &._align-items-baseline {align-items: baseline;}
  &._align-items-center {align-items: center;}
  &._children-mb-4px > * {margin-bottom: 4px;}
  &._children-mb-12px > * {margin-bottom: 12px;}
  & > .title {flex: 1 1 auto;}
  & > .payload {flex: 0 0 auto;}
  & > * {margin-left: 14px;}
}

.quote-unit {
  display: flex; flex-direction: row; align-items: stretch; flex-wrap: nowrap; justify-content: flex-start;
  & > .quote-unit__content {flex: 1 1 auto; text-align: right; color: #A3A3A3;}
  & > .quote-unit__content + .quote-unit__photo {margin-left: 16px;}
  & > .quote-unit__photo {flex: 0 0 auto; width: 88px; height: 88px; border-radius: 50%; overflow: hidden; position: relative;}
  & > .quote-unit__photo img {border-radius: 50%; @include mx-img-fill; }
  & .author-of-quote:nth-child(n+2) {margin-top: 8px;}
  & .author-of-quote {color: $color-bright;}
}

@include mx-media-breakpoint-down($screen-md) {
  .quote-unit > .quote-unit__photo {width: 72px; height: 72px;}
}
.title-with-payload  .quote-unit  {max-width: 480px;}

@include mx-media-breakpoint-down($screen-md) {
  .title-with-quote {display: block; width: 100%; margin:0 auto;}
  .title-with-quote> .title {width: 100%; margin-left: 0;}
  .title-with-quote> .payload {width: 100%; margin-left: 0; margin-bottom: 0;}
  .title-with-payload  .quote-unit {width: 100%; max-width: 100%;}
}
@include mx-media-breakpoint-down($max-screen-width:350px) {
  .quote-unit > .quote-unit__content + .quote-unit__photo { margin-left: 12px;}
  .quote-unit > .quote-unit__photo { width: 68px; height: 68px;}
}



.partners-wrap {overflow: hidden; margin:0 auto; max-width: 1130px;}
.partners-box {
  @include mx-grid($columns:4, $pad:12px, $align-items:center);
}
.partners-item {font-size: 0; font-weight: normal; text-align: center;}
.partners-unit {
  display: inline-block; vertical-align: middle; max-width: 100%; @include mx-all-transition; opacity: .2;
  &:hover {opacity: .85;}
  & img, & svg {display: block; margin:0 auto; width: auto; height: auto; max-height: 80px; max-width: 100%;}
}

.footer-block:nth-child(n+2) {margin-top: 40px; padding-top: 40px; padding-bottom: 40px;}
.footer-box {display: flex; flex-direction: row; justify-content: flex-start; align-items: stretch; flex-wrap: nowrap;}
.footer-author, .footer-content {
  color:$color-gray;
  & a {color:$color-bright; @include mx-all-transition;}
  & a:hover {color:$color-btn-bright-hover;}
}
.footer-author {flex:0 0 auto; width: 294px; padding-right: 16px;}
.footer-content {flex:1 1 auto;}
.footer-contacts-block {max-width: 326px;}

@include mx-media-breakpoint-down($screen-sm) {
  .footer-author {padding-right: 12px; width: 180px;}
}
@include mx-media-breakpoint-down($screen-xs) {
  .footer-box {
    display: block;
    & > *:nth-child(n+2) {margin-top: 18px;}
    .footer-author {width: 100%; padding: 0;}
  }
}

.company-main {
  padding-top: 78px;
  .h1 {max-width: 858px;}
  .h1 b {color: $color-bright;}
  .desc {color: $color-gray;}
  .desc:nth-child(n+2) {margin-top: 24px;}
}
@include mx-media-breakpoint-down($screen-lg) {
  .company-main {padding-top: 60px;}
}
@include mx-media-breakpoint-down($screen-md) {
  .company-main {padding-top: 40px;}
}
@include mx-media-breakpoint-down($screen-xs) {
  .company-main {padding-top: 20px;}
}

.team  {
  & > .title {margin-bottom: 32px;}
  & > .title:last-child {margin-bottom: 0;}
}
.team-wrap {width: 100%; overflow: hidden; max-width: 942px;}
.team-box {
  @include mx-grid($columns:2, $pad:20px, $align-items:flex-start);
}
.team-unit {display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: nowrap;
  align-items: flex-start;}
.team-unit__content {
  flex: 1 1 auto; margin-left: 24px; color: $color-white; padding-top: 50px;
  .desc {color:$color-gray;}
  .desc:nth-child(n+2) {margin-top: 8px;}
}
.team-unit__photo {
  display: block; flex: 0 0 auto; position: relative; width: 172px; height: 172px; border-radius: 50%;
  overflow: hidden;
  & img, & svg {@include mx-img-fill; border-radius: 50%;}
}

@include mx-media-breakpoint-down($screen-lg) {
  .team-unit__photo {width: 150px; height: 150px;}
  .team-unit__content {padding-top: 15px;}
}

@include mx-media-breakpoint-down($screen-md) {
  .team-unit__photo {width: 120px; height: 120px;}
  .team-unit__content {padding-top: 10px; margin-left: 18px;}
}
@include mx-media-breakpoint-down($screen-sm) {
  .team-box {
    margin: -10px;
    .grid-item {width: 100%; padding: 10px;}
  }
}
@include mx-media-breakpoint-down($screen-xs) {
  .team-unit__content {padding-top: 5px; margin-left: 16px;}
  .team-unit__photo {width:90px; height: 90px;}

}


.geography > .title {
  margin-bottom: 24px;
  &:last-child {margin-bottom: 0;}
}
.geography > .desc { color: $color-gray;}

.achievement > .title {
  margin-bottom: 48px;
  &:last-child {margin-bottom: 0;}
}

.achievement-wrap {width: 100%; overflow: hidden;}
.achievement-box {@include mx-grid($columns:2, $pad:18px, $align-items:flex-start)}

.achievement-unit {display: flex; flex-direction: row; flex-wrap: nowrap; align-items: flex-start;
  justify-content: flex-start;}
.achievement-icon {
  width: 145px;  position: relative; flex: 0 0 auto;
  &:after {content: ""; padding-top: 95.2%; box-sizing: border-box; width: 0; display: block;}
  & > img, & > svg {@include mx-img-center;}
}
.achievement-content {flex: 1 1 auto; margin-left: 32px; max-width: 324px; padding-top: 8px;}
.achievement-content > .achievement-heading {
  margin-bottom: 8px;
  &:last-child {margin-bottom: 0;}
}
.achievement-desc {color: $color-gray;}

@include mx-media-breakpoint-down($screen-md) {
  .achievement-icon {width: 100px;}
  .achievement-content {margin-left: 18px;}
  .achievement-heading {font-size: 18px; line-height: 24px}
  .achievement-desc {font-size: 16px; line-height: 22px;}
}
@include mx-media-breakpoint-down($screen-sm) {
  .achievement-content {padding-top: 2px;}
  .achievement-box { margin: -12px;
    & .grid-item {width: 100%; padding: 12px;}
  }
  .achievement-icon {width: 70px;}
}

.main-img-layout-planet {position: absolute; margin-left: -90px; width: 1237px; top: -29px; left: 50%;
  & img {width: 100%; height: auto;}
}


@include mx-media-breakpoint-down($screen-md) {
  .main-img-layout-planet {display: none;}
}


.social-unit {width: 48px; height: 48px; border-radius: 50%; @include mx-all-transition;
  background: rgba(255,255,255,.12); position: relative; display: block; cursor: pointer;
  &:hover {background: rgba(255,255,255,.18); }
  & svg, & img {display: block; @include mx-img-center;}
}
.social-wrap {overflow: hidden;}
.social-box {display: flex; flex-direction: row; justify-content: flex-start; align-items: center;
  flex-wrap: wrap; margin:-4px -8px;
  & > .social-item {padding: 4px 8px; flex: 0 0 auto; display: block;}
}

.contacts-block {margin-top: 20px;}
.contacts > .title {margin-bottom: 34px;
  &:last-child {margin-bottom: 0;}

}
.contacts-box {max-width: 600px;
  .contacts-row:nth-child(n+2) {margin-top: 24px;}
}
.contacts-row {display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;
  flex-wrap: nowrap;}
.contacts-row__label {
  flex: 0 0 auto; color:$color-gray; width: 196px; padding-right: 20px;
}
.contacts-row__value {
  flex: 1 1 auto; color:$color-white;
  & a  {color: $color-btn-bright; @include mx-all-transition;}
  & a:hover  {color: $color-btn-bright-hover; }
}
.contacts-social-wrap {margin-top: 32px; padding-left: 196px;}

@include mx-media-breakpoint-down($screen-md) {
  .contacts-block {margin-bottom: 90px;}
}
@include mx-media-breakpoint-down($screen-xs) {
  .contacts-row {display: block;}
  .contacts-row__label {margin-bottom: 8px; padding: 0; width: 100%;}
  .contacts-row__value {padding: 0; width: 100%;}
  .contacts-social-wrap {padding-left: 0;}
}

.main-img-layout-map {position: absolute;  width: 1442px; top: -159px; left: 50%; margin-left: -414px;
  img {display: block; width: 100%; height: auto;}
  .img-xl {display: block;}
  .img-md {display: none;}
}
@include mx-media-breakpoint-down($screen-md) {
  .main-img-layout-map {position: absolute;  width: 900px; top: auto; bottom: -130px; left: 50%; margin-left: -450px;
    .img-xl {display: none;}
    .img-md {display: block;}
  }
}
@include mx-media-breakpoint-down($screen-xs) {
  .main-img-layout-map {bottom: -71px;}
}

.tags-wrap {overflow: hidden;}
.tags-box {display: flex; flex-direction: row; align-items: center; justify-content: flex-start;
  flex-wrap: wrap; margin: -8px; list-style: none;}
.tag-item {flex:0 0 auto; max-width: 100%; padding: 8px; font-size: 0; font-weight: normal; display: block;}
.tag-unit {max-width: 100%; display: inline-block; vertical-align: middle; padding: 10px 22px 12px;
  font:normal 500 16px/22px $font-heading-secondary; @include mx-all-transition; color:$color-white;
  background: #1F1F1F; border-radius: 4px;
  &:hover {background: #292929;}
  &.tag-active {background: $color-btn-bright; -webkit-pointer-events: none; pointer-events: none;}
}

@include mx-media-breakpoint-down($screen-sm) {
  .tags-box {margin: -6px;}
  .tag-item {padding: 6px;}
  .tag-unit {font-size: 14px; line-height: 20px;}
}
@include mx-media-breakpoint-down($screen-xs) {
  .tag-unit {padding: 8px 20px 10px; font-size: 13px;}
}

.projects {margin-top: 20px;}

.projects > .title {
  margin-bottom: 32px;
  &:last-child {margin-bottom: 0;}
}
.projects .tags-wrap {
  margin-bottom: 40px;
  &:last-child {margin-bottom: 0;}
}


.btn-load-wrap:nth-child(n+2) {margin-top: 32px; text-align: center;}
.btn-load {min-width: 368px; max-width: 100%;}

@include mx-media-breakpoint-down($screen-xs) {
  .btn-load {min-width: 0; width: 100%;}
}

.page-content-data-box {
  margin-top: 32px; margin-bottom: 32px;
  &:last-child {margin-bottom: 0;}
  &:first-child {margin-top: 0;}
}
.page-content-data-item {
  display: flex; flex-direction: row; align-items: flex-start; flex-wrap: nowrap; justify-content: flex-start;}
.page-content-data-label {color: $color-bright; width: 194px; padding-right: 16px; flex: 0 0 auto;}
.page-content-data-value {color:$color-gray; flex: 1 1 auto;}
@include mx-media-breakpoint-down($screen-xs) {
  .page-content-data-item {display: block;}
  .page-content-data-item:nth-child(n+2) {margin-top: 12px;}
  .page-content-data-label {
    width: 100%; padding: 0; margin-bottom: 6px;
    &:last-child {margin-bottom: 0;}
  }
}


.checkers-block {
  margin-top: 40px; margin-bottom: 40px;
  &:last-child {margin-bottom: 0;}
  &:first-child {margin-top: 0;}
}

.checkers-block  > .title {
  color: $color-white; margin-bottom: 16px;
  &:last-child {margin-bottom: 0;}
}
.checkers-wrap {overflow: hidden;}
.checkers-box {display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-start;
  flex-wrap: wrap; margin: -8px;}
.checkers-item {padding: 8px; flex: 0 0 auto; width: 50%;}
.checkers-unit {display: flex; flex-wrap: nowrap; align-items: flex-start; justify-content: flex-start;}
.checkers-unit__icon {
  flex: 0 0 auto; width: 48px; height: 48px; border-radius: 2px; background: $color-bright;
  margin-right: 12px; position: relative;
  & svg, & img {display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
    width: 24px; height: auto;}
}
.checkers-unit__content {flex: 1 1 auto; align-self: center; color:$color-gray; position: relative; top: -3px;}

@include mx-media-breakpoint-down($screen-xs) {
  .checkers-item {width: 100%;}
}


.back-link {display: block; width: 40px;  position: relative;
  & img, & svg {display: block; width: 100%; height: auto; margin: 0;}
  & svg * {@include mx-all-transition; fill: $color-btn-bright !important;}
  &:hover svg * {@include mx-all-transition; fill: $color-btn-bright-hover !important;}
  &:active svg * {@include mx-all-transition; fill: $color-btn-bright-active !important;}
}

.page-content-block .back-link-wrap {
  margin-bottom: 12px;
  &:last-child {margin-bottom: 0;}
}
.page-content .page-content-title {
  margin-bottom: 24px; margin-top: 24px;
  &:last-child {margin-bottom: 0;}
  &:first-child {margin-top: 0;}
}


.page-content-offer-box {width: 298px;}
.offer-box {
  .btn-wrap {width: 100%;}
  .btn-wrap:nth-child(n+2) {margin-top: 32px;}
  .btn {display: block; width: 100%;}
}

.page-content.sticky-container {position: relative;}
.page-content-offer-box.sticky-box {position: absolute; top: 0; right: 70px;}
@include mx-media-breakpoint-down($screen-lg) {
  .page-content-offer-box.sticky-box {right: 0;}
}
@include mx-media-breakpoint-down($screen-md) {
  .page-content-offer-box.sticky-box {position: static; margin-top: 40px;}
}
@include mx-media-breakpoint-down($screen-xs) {
  .page-content-offer-box {width: 100%; min-width: 0; max-width: 100%;}
}


.modal-block {
  width: 100%; max-width: 592px; padding: 56px; background: #292929; position: absolute;
  & .modal-title {margin-bottom: 32px;}
}

@include mx-media-breakpoint-down($screen-sm) {
  .modal-block {padding: 50px 16px 24px;}
}

.input-item {display: block; width: 100%;}
.uni-input {display: block; width: 100%; height: 62px; border-radius: 6px; text-align: left;
  font: normal 500 18px/64px $font-heading-secondary; padding: 0 30px; @include mx-all-transition;
  background: #3A3A3A; color: $color-white;
  border:1px solid transparent;
  &::-webkit-input-placeholder {color: #696969;}
  &::-moz-placeholder {color: #696969;}
  &:-ms-input-placeholder {color: #696969;}
  &:-moz-placeholder {color: #696969;}
  &:focus {
    &::-webkit-input-placeholder {color: transparent;}
    &::-moz-placeholder {color: transparent;}
    &:-ms-input-placeholder {color: transparent;}
    &:-moz-placeholder {color: transparent;}
  }
  &.invalid, &:invalid {border-color: $color-danger; }
}

@include mx-media-breakpoint-down($screen-sm) {
  .uni-input {font-size: 16px; padding: 0 16px;}
}

.uni-check-block {display: table; max-width: 100%; position: relative; padding-left:28px; min-height: 24px; cursor: pointer;}
.uni-check-block input {display: none;}
.uni-check-block .check-block-icon {width: 20px; height: 20px; position: absolute; top: 2px; left: 0;
  @include mx-all-transition;
  &:before {content: ""; display: block; width: 16px; height: 16px; border-radius: 3px;
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; transition: all .15s linear;
    background: #3A3A3A; border:2px solid #3A3A3A; box-sizing: border-box;
    &:after {content: ""; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
      width: 16px; height: 16px; background: url(../images/tick-icon.svg) no-repeat 50% 50%/ 16px 16px;
      box-sizing: border-box; opacity: 0; @include mx-all-transition; }
  }
}
.uni-check-block input:checked ~ .check-block-icon {
  &:before {background: $color-btn-bright; border-color: $color-btn-bright;}
  &:after {opacity: 1;}
}

.uni-check-block input.invalid ~ .check-block-icon {
  &:before {background: transparent; border-color: $color-white;}
  &:after {opacity: 0;}
}

.uni-check-block {
  .check-block-text {font:normal 500 16px/24px $font-heading-secondary; color: $color-white;}
  input.invalid ~ .check-block-text {color: $color-danger;}
}

@include mx-media-breakpoint-down($screen-sm) {
  .uni-check-block .check-block-text {font-size: 14px;}
}

.btn-submit:nth-child(n) {line-height: 64px;}
@include mx-media-breakpoint-down($screen-xs) {
  .btn-submit {width: 100%;}
}

.light-modal-outer {
  @include mx-linear-gradient(90, rgba(0, 0, 0, 0) 37.31%, rgba(0, 0, 0, 1) 100%);
}

.modal-form {
  .input-item:nth-child(n+2) {margin-top: 22px;}
  .policy-check-wrap:nth-child(n+2) {margin-top: 16px;}
  .btn-submit-wrap:nth-child(n+2) {margin-top: 40px;}
  .btn-submit {max-width: 100%; display: block;}
}

.btn-modal-close {
  & {position: absolute; top: 28px; right: 28px; width: 32px; height: 32px; opacity: .6; @include mx-all-transition;
    cursor: pointer;}
  &:hover {opacity: .8;}
  & img, & svg {width: 24px; height: 24px; position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; margin: auto;}
  & svg * {fill: $color-white !important;}
}

@include mx-media-breakpoint-down($screen-md) {
  .btn-modal-close {  top: 20px; right: 20px;}
}

@include mx-media-breakpoint-down($screen-xs) {
  .btn-modal-close {  top: 16px; right: 16px;}
}

.modal-success-block {position: absolute; width: 100%; max-width: 520px; padding: 16px; background-color: #000000;}
.modal-success-icon {
  display: block; width: 80px; margin: 0;
  & img, & svg {display: block; margin: 0; width: 100%; height: auto;}
}
.modal-success-title:nth-child(n+2) {margin-top: 32px;}

@include mx-media-breakpoint-down($screen-sm) {
  .modal-success-icon {width: 60px; height: 60px;}
  .modal-success-title:nth-child(n+2) {margin-top: 24px;}
}

.blur-effect {
  filter: url(../images/svg-blur-filter.svg#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}

.no-blur-effect {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  filter: none;
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.main-wrap {transition: filter .15s linear;
  -webkit-filter: blur(0px); filter: blur(0px); filter: none;
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
.site-blur-effect .main-wrap {transition: filter .15s linear;
  filter: url(../images/svg-blur-filter.svg#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}


.timeline-slider {width: calc(50vw + 576px)};
.timeline-slider__slides {display: flex; flex-direction: row; justify-content: center;
  flex-wrap: nowrap; align-items: flex-start;}
.timeline-item {
  color:#3D3D3D;  flex: 0 0 auto; transition: color .15s linear; cursor: pointer; width: 200px;
  & {margin-right: 50px;}
  &:last-child {margin-right: 0;}
  &.active {color: $color-white;}
}

@include mx-media-breakpoint-down($screen-lg) {
  .timeline-item { width: 150px; margin-right: 20px;}
}
@include mx-media-breakpoint-down($screen-sm) {
  .timeline-item { width: 90px; margin-right: 15px; }
}
@include mx-media-breakpoint-down($screen-xs) {
  .timeline-item { width: 75px; margin-right: 15px; }
}

.play-icon {
  display: block; border-radius: 50%; background: rgba(0,0,0,.46); transition: all .2s linear; width: 80px;
  &:before {content: ""; display: block; box-sizing: border-box; width: 0; padding-top: 100%; cursor: pointer;
    position: relative; transition: all .15s linear;}
  & > img,
  & > svg {display: block; width: 65%; height: auto; position: absolute; top: 50%; left: 50%;
    @include mx-transform(translateX(-50%) translateY(-50%))};
  &:hover {background: rgba(0,0,0,75);}
}

.btn-slider {
  position: relative; width: 72px; height: 72px; border-radius: 50%;
  background: $color-white; cursor: pointer; visibility: visible; opacity: 1;
  -webkit-pointer-events:auto; pointer-events: auto; transition: all .2s linear;
  & > img, & > svg {display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
    width: 40px; height: 40px;}
  &:hover {background: rgba(255,255,255,.5);}
  &.btn-slider-prev > img,
  &.btn-slider-prev >  svg {@include mx-transform(scale(-1, 1))}
  &.disabled {visibility: hidden; opacity: 0; -webkit-pointer-events:none; pointer-events: none;}
}

.projects-slider-outer {position: relative; width: calc(50vw + 576px);}
.projects-slider-outer .btn-slider {
  position: absolute; z-index: 10; top: 50%;
  &.btn-slider-prev { left: 0; @include mx-transform(translateX(-50%) translateY(-50%)); }
  &.btn-slider-next { left:1152px; @include mx-transform(translateX(-50%) translateY(-50%)); }
}
@include mx-media-breakpoint-down(1260px) {
  .projects-slider-outer .btn-slider {display: none;}
}
@include mx-media-breakpoint-down($screen-lg) {
  .projects-slider-outer {position: relative; width: calc(50vw + 496px);}
}
@include mx-media-breakpoint-down($screen-md) {
  .projects-slider-outer {position: relative; width: calc(50vw + 376px);}
}
@include mx-media-breakpoint-down($screen-sm) {
  .projects-slider-outer {position: relative; width: calc(50vw + 286px);}
}
@include mx-media-breakpoint-down($screen-xs) {
  .projects-slider-outer {position: relative; width: calc(100vw - 16px);}
}



.projects-slider:nth-child(n+2) {margin-top: 40px;}
.projects-slider__slides {
  display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; flex-wrap: nowrap;
  & .project-box-unit {flex: 0 0 auto; width: 956px;}
  & .project-box-unit:nth-child(n+2) {margin-left: 24px;}
}
.project-box-unit {
  display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; flex-wrap: nowrap;
  position: relative;
  &:after {content: ""; display: block; position: absolute; box-sizing: border-box; top: 0; left: 0;  cursor: pointer;
    width: 100%; height: 100%; z-index: 10; background: rgba(0,0,0,.65); transition: all .15s linear; opacity: 1; visibility: visible;}
  &.active:after {opacity: 0; visibility: hidden;}
  .project-box-media {flex: 0 0 auto; width: 560px;}
  .project-box-content {flex: 1 1 auto; margin-left:32px;}
}
.project-box-content {
  color:$color-gray;
  & .title {color:$color-white; margin-bottom: 12px;}
  & .title:last-child {margin-bottom: 0;}
}
.project-box-media-main {
  width: 100%; position: relative; overflow: hidden;
  &:before {content: ""; display: block; padding-top: 56%; box-sizing: border-box; width: 0;}
  & > img, & > svg {display: block; position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; margin: 0; width: 100%; height: 100%;
    object-fit: cover; object-position: 50% 50%;  z-index: 0;}
  & .play-icon {display: block; position: absolute; width: 80px; top: 50%; left: 50%;
    @include mx-transform(translateX(-50%) translateY(-50%)); z-index: 3;
    -webkit-pointer-events: none; pointer-events: none;  }

  &:hover {
    .play-icon {background: rgba(0,0,0, .75)}
  }
}



.project-box-media-preview-box {display: flex; flex-direction: row; justify-content: flex-start;
  align-items: flex-start; flex-wrap: nowrap; margin: 0 -9px;
  &:nth-child(n+2) {margin-top: 24px;}
}
.project-box-media-preview-box > .item {
  flex: 0 0 auto; width: 25%; padding: 0 9px;
  &:nth-child(n+5) {display: none !important;}
}
.project-box-media-preview-unit {
  position: relative; width: 100%; cursor: pointer;
  &:before {content: ""; display: block; box-sizing: border-box; width: 0; padding-top: 74%;}
  & > img, & > SVG {position:absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%; z-index: 0; }
  & .play-icon {position: absolute; display: block; z-index: 2; width: 30%;
    top: 50%; left: 50%;   @include mx-transform(translateX(-50%) translateY(-50%)); -webkit-pointer-events: none; pointer-events: none; }
  &:after {content: ""; display: block; box-sizing: border-box; width: 100%; height: 100%; top: 0; left: 0; z-index: 4;
    border:2px solid transparent; background: rgba(0,0,0,.65); transition: all .15s linear; position: absolute;}
  &.active:after {border-color: $color-bright; background: rgba(0,0,0,0);}

}
.lg-layer {display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.project-box-media-disabled-block {display: none !important;}


@include mx-media-breakpoint-down($screen-lg) {
  .projects-slider__slides .project-box-unit {width: 840px;}
  .project-box-unit .project-box-media {width: 460px;}
  .project-box-unit .project-box-content {margin-left: 16px;}
  .project-box-media-preview-box > .item {padding: 0 5px;}
  .project-box-media-preview-box {margin-left: -5px; margin-right: -5px;}
  .project-box-media-preview-box:nth-child(n+2) {margin-top: 16px;}
  .project-box-media-main .play-icon {width: 60px;}
}
@include mx-media-breakpoint-down($screen-md) {
  .projects-slider__slides .project-box-unit {width: 740px;}
  .project-box-unit .project-box-media {width: 380px;}
  .projects-slider:nth-child(n+2) {margin-top: 20px;}
}
@include mx-media-breakpoint-down($screen-sm) {
  .projects-slider__slides .project-box-unit {width: 450px;}
  .project-box-unit {display: block;}
  .project-box-unit .project-box-media {width: 100%;}
  .project-box-unit .project-box-content {margin-left: 0; margin-top: 16px;}
  .project-box-content .title {margin-bottom: 8px;}
  .projects-slider__slides .project-box-unit:nth-child(n+2) {margin-left: 16px;}
}
@include mx-media-breakpoint-down($screen-xs) {
  .projects-slider__slides .project-box-unit {width: 380px;}
  .projects-slider__slides .project-box-unit:nth-child(n+2) {margin-left: 10px;}
  .project-box-media-main .play-icon {width: 50px;}
}
@include mx-media-breakpoint-down(460px) {
  .projects-slider__slides .project-box-unit {width: 360px;}
}
@include mx-media-breakpoint-down(400px) {
  .projects-slider__slides .project-box-unit {width: 280px;}
}

.technology-timeline .tech-timeline:nth-child(n+2) {margin-top: 40px;}
















